main>section:nth-child(1){	background-color:#FF595E;}
main>section:nth-child(2){	background-color:#8AC926;}
main>section:nth-child(3){	background-color:#8AC926;}
main>section:nth-child(4){	background-color:#1982C4;}
main>section:nth-child(5){	background-color:#6A4C93;}

main>section{
	padding:30px;
	box-sizing:border-box;
	color:#fff;
	font-size:90px;
	font-weight:bold;
}

/* -----------------------------------------------------
 for fsvs
----------------------------------------------------- */
html.fsvs {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;	left: 0;
	overflow: hidden;
}
html.fsvs #fsvs-body {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;	left: 0;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
html.fsvs #fsvs-body > * {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
/* -----------------------------------------------------
 pagenation
----------------------------------------------------- */
html.fsvs #fsvs-pagination {
	width: 32px;
	height: auto;
	padding: 8px 4px;
	margin: 0;
	position: fixed;
	right: -100px;	top: 50%;
	z-index: 999;
}
html.fsvs #fsvs-pagination li {
	width: 25px;
	height: 25px;
	margin: 0 0 2px 0;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}
html.fsvs #fsvs-pagination li > span {
	width: 22px;
	height: 22px;
	display: block;
	line-height: 22px;
	border-radius: 100%;
	border: 1px solid white;
}
html.fsvs #fsvs-pagination li > span > span {
	width: 12px;
	height: 12px;
	margin: 4px;
	display: block;
	line-height: 12px;
	border-radius: 100%;
	border: 1px solid white;
}
html.fsvs #fsvs-pagination li.active > span {
	border: 1px dashed white;
}
html.fsvs #fsvs-pagination li.active > span > span {
	background: white;
}
html.fsvs #fsvs-pagination li:last-child {
	margin: 0;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.svg-icon circle {
  stroke: #fff;
  stroke-width: 1;
}

ul {
	list-style: none ;
}

.main {
	height: 100% ;
	width: 100% ;
	// display: flex ;
}

.page {
	// position: relative ;
	display: flex ;
	flex-wrap: wrap ;
	flex-direction: column ;
	width: 100% ;
	height: 100% ;
	align-items: center ;
	justify-content: center ;
	h1 {
		font-size: 43px ;
		padding: 0 ;
		margin: 0 ;
		
	}
	p {
		font-size: 14px ;
	}
	
}

.set {
	display: flex ;
	justify-content: center ;
	align-items: center ;
	padding: 60px ;
}

.row {
	display: flex ;
	flex-wrap: wrap ;
}

.icon {
	width: 60px ;
	height: 60px ;
	padding: 20px ;
	
	svg {
		width: 100% ;
		height: 100% ;
	}
}

