@import url('https://fonts.googleapis.com/css?family=BioRhyme');

body {
	max-width: 1400px;
	margin: 0 auto;
}

.navbar.navbar-fixed-top {
	width: 100%;
	left: initial;
	right: initial;
	max-width: 1400px;
	border-bottom: 0;
}
.navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover {
    color: black;
    background-color: rgba(255,255,255,.84);
}

.navbar-brand , .navbar-nav>li>a {
	color: #fff;
	letter-spacing: 2px;
    font-kerning: normal;
    text-rendering: geometricPrecision;
    font-size: 14px;
    font-family: 'BioRhyme', serif;
}

.navbar.touched-top {
	box-shadow: 0 1px 3px #555;
}

.nav>li>a:focus, .nav>li>a:hover, .nav>li.active > a {
	background: #fff;
	color: rgba(63,81,181,1);
}

nav.navbar {
	background-color: rgba(63,81,181,1);
}

.navbar-toggle .icon-bar {
	background: #fff;
}

.navbar-brand:hover {
	color: #fff;
}

.navbar-brand img {
	max-height: 100px;
    margin-top: -10px;
}
.navbar-fixed{
	background: #000000e6;
}
.navbar-fixed ul {
	margin: 25px;
}

.bio-rhyme {
	font-family: 'BioRhyme', serif;
}
.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}



#logo-text {
    line-height: 18px;
    margin-left: 10px;
    margin-top: -8px;
}


@media screen and (min-width: 768px) {

	.navi {
		padding: 15px;
	}

	nav.navbar > div {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (min-width: 992px) {

	nav.navbar {
		background-color: transparent;
	}
}

@media screen and (min-width:768px) and (max-width: 992px) {

	.navi {
		padding: 0;
	}
}


#banner {
			background-image: url('../img/banner.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			background-size: cover;
			min-height: 600px;
}

.black_fliter{
	background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    width: 100%;
    min-height: 600px;
    z-index: 0;
}
.front_img {
	height: 400px;
    display: block;
    margin: auto;
    margin-top: -320px;
    /*width: 400px;*/
}
.about{
	margin-top: 100px;

}
.about_app{
	padding: 100px;
	text-align: center;

}
.top-left {
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
}


#news-feed {
  overflow-x: hidden;
}

#news-feed .panel {
  margin: 20px 15px;
  width: 250px;
}

#news-feed .panel-body {
  padding: 0px;
  padding-bottom: 10px;
  box-shadow: 0 2px 4px #555;
}

#news-feed .panel-body p, #news-feed .panel-body div, #news-feed .panel-body p, #news-feed .panel-body a {
  /*padding: 10px;*/
}

#news-feed .slick-slide {
  transition: transform 0.3s ease-in-out;
  transform: scale(0.6)
}

@media screen and (min-width: 993px){
  #news-feed .slick-current, #news-feed .slick-current + .slick-slide + .slick-slide + .slick-slide + .slick-slide{
    transform: scale(0.7);
  }
  #news-feed .slick-current + .slick-slide {
    transform: scale(0.9) translate(-15px, 0);
  }
  #news-feed .slick-current + .slick-slide + .slick-slide + .slick-slide {
    transform: scale(0.9) translate(15px, 0);
  }
  #news-feed .slick-current + .slick-slide + .slick-slide {
    transform: scale(1.1);
  } 
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #news-feed .slick-current, #news-feed .slick-current + .slick-slide + .slick-slide {
    transform: scale(0.9);
  }
  #news-feed .slick-current + .slick-slide {
    transform: scale(1.1);
  }
}
.slick-prev:before, .slick-next:before{
  font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: black !important;
    -webkit-font-smoothing: antialiased;
}
.slick-slide{
	height:380px !important;
}




.testimonial-carousel {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto
}

.testimonials-wrapper {
  width: 95%;
  max-width: 500px;
  margin: 0 auto
}

.testimonials-wrapper h4 {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  padding: 30px;
  color: #000;
  border-radius: 5px;
  background: #fff;
  box-shadow: 5px 5px 5px 0 rgba(23, 23, 25, .3)
}

.testimonials-blob,
.testimonials-img {
  border-radius: 100%
}

.testimonials-img {
  position: relative;
  left: 50%;
  overflow: hidden!important;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: -50px;
  box-shadow: 0 0 0 5px #171719;
  transition: all ease-out .5s;
  transform: translateY(-30%);
  filter: brightness(2)
}

.testimonial-carousel .active .testimonials-img {
  transform: translateY(0);
  filter: brightness(1)
}

.testimonials-person-info {
  text-align: center;
  color: #fff
}

.testimonials-blob {
  position: relative;
  left: 80%;
  width: 3px;
  height: 3px;
  transform: rotate(45deg)
}

@keyframes anim {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff
  }
  50% {
    box-shadow: 0 15px 0 0 #fff, 0 0 0 0 #fff
  }
  100% {
    opacity: 1;
    background: #fff;
    box-shadow: 0 15px 0 4px #fff, 0 35px 0 6px #fff
  }
}

.testimonial-carousel .active .testimonials-blob {
  transform-origin: 50% 50%;
  animation: anim linear .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards
}

.testimonial-carousel {
  overflow: hidden;
  cursor: grab
}

.testimonial-carousel:active {
  cursor: grabbing
}

.testimonial-carousel .owl-item {
  overflow: hidden;
  transition: all ease-out .3s;
  transform: scale(.7);
  opacity: 0
}

.testimonial-carousel .owl-item.active {
  transform: scale(1);
  opacity: 1
}

.testimonial-carousel .owl-next,
.testimonial-carousel .owl-prev {
  font-size: 13px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  padding: 0 10px;
  transition: all ease-out .25s;
  transform: translateY(-100%);
  opacity: 1;
  color: #fff;
  border-radius: 3px;
  background: #171719
}

.testimonial-carousel .owl-next:hover,
.testimonial-carousel .owl-prev:hover {
  color: #fff;
  background: #615e6b
}

.testimonial-carousel .owl-prev {
  left: 0
}

.testimonial-carousel .owl-next {
  right: 0
}

.testimonial-carousel .owl-next.disabled,
.testimonial-carousel .owl-prev.disabled {
  opacity: 0
}




.section-padding {
    padding: 80px 0;
}

.newsletter-bg{
    background-image: url(http://faker.im/1200x800);
}

.newsletter-bg {
    position: relative;
    z-index: 1;
    color: #fff;
}

.newsletter-bg h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 50px;
}

.newsletter-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #333;
    z-index: -1;
    opacity: .3;
}

.newsletter-form input[type=email] {
    background: #333;
    border: 1px solid #8e8582;
    padding: 12px 20px;
    opacity: .6;
    width: 80%;
    border-radius: 50px;
    width: 76%;
}

.newsletter-form input[type=submit] {
    background-color: #34b79d;
    color: #fff;
    border: none;
    padding: 13px 40px;
    border-radius: 50px;
    width: 23%;
}

.newsletter-form form {
    margin-bottom: 14px;
    font-style: normal;
}

.newsletter-text {font-style: italic;}


footer{
	background: #374242;
    padding-top: 30px;
    padding-bottom: 22px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.social a {
	padding: 10px;
	background: #374242;
	border-radius: 50%;
	border: 1px solid #ccc;
	margin:5px;
}
.social a i {
	padding: 3px;
	color: white;
}




