@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');
body{
	margin:0;
	padding:0;
	font-family: 'Inter', sans-serif;
	background-color: #0a1016 !important;
}
header .navbar {
    padding: 10px 15px;
}
.navbar-nav li a{
	color:#fff;
}
.navbar-brand img{
	max-width: 160px;
}
.navbar-nav li {
    margin-left: 30px;
}
.navbar-nav li a:hover{
	color: #00e36a;
}
.partner_sec h5{
	color: #fff;
	text-align: center;
}
.main_data_section ul{
	display: flex;
	flex-wrap: wrap;
}
.main_data_section ul li{
	width: calc(25% - 20px);
	margin: 10px 10px 30px;
}

.list-sec img {
    max-width: 100%;
}
.list-sec h5 {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
}
.all_links a {
    color: #7b7b7b;
    margin-right: 8px;
    font-size: 13px;
}
.side-bar-section{
	background-color: #0c1c32;
}
.check_sec {
    display: flex;
    justify-content: space-between;
}
.side-bar-section .card-header, .side-bar-section .card {
    background-color: transparent !important;
}
.side-bar-section .card-header .btn {
    color: #fff;
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}
.check_sec p {
    color: #fff;
    padding-left: 20px;
    opacity: 0.9;
}
.partner_sec img {
    display: inline-block;
    margin-top: 20px;

}
.footer-logo img{
	max-width: 150px;
}
.contact_info p{
	color: #fff;
	margin-top:50px;
}
.contact_info p a{
	color: #fff;
}
.footer-sec{
	background-color: #000;
	padding:50px;
}
.small_footer{
	background-color: #151515;
	padding:10px;
}
.small_footer p{
	margin:0;
	color: #eee;
	font-size: 14px;
}
.rs_links ul{
	padding-left: 0px;
	list-style-type: none;
}
.rs_links h5{
	color: #fff;
	font-weight: bold;
}
.rs_links ul li a{
	color: #eee;
	text-decoration: none;
	line-height: 2.5;

}