/*@font-face {
font-family: 'FontAwesome';
src: url('fonts/font-awesome.min.css');
}*/

@import url(http://fonts.googleapis.com/css?family=Montserrat);


body{
  font-family: montserrat, arial, verdana;
	background: #fff;
}
.mainnav{
	width: 70%;
	display: block;
	margin: auto;
	margin-top: 9px;
}
nav{
	height: 80px;
    background: white;
    /*margin-bottom: 0;*/
}
.navbar-toggle .icon-bar{
	background: white;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: black;
    background-image: none;
    border: 1px solid black;
    border-radius: 4px;
 }   
.navbar{
	margin-bottom: 0;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
	margin-top: 4px;
}
.m_nav{
	font-size: 12px;
	font-weight: 600;
}
.navbar-nav>li>a{
	color: black;
}
.banner{
	height: 500px;
	background: #ccc;
	width: 100%;

}
.head_text{
	position: absolute;
	top: 200px;
	left: 20%;
}
.head_text h1 {
	font-size: 50px;
    color: black;
    font-weight: 600;
}
.watch{
	margin-top: 100px;
}
.watch_content2{
	padding-top:100px;
}

.playlist{
	margin-top: 100px;
}
.playlist_content2{
	padding-top:100px;
}
.ultra{
	margin-top: 100px;
}
.ultra_content2{
	padding-top:100px;
}
@media screen and (max-width: 768px){

			.watch_content2{
				padding-top: 0;
			}
			.playlist_content2{
				padding-top: 0;
			}
			.ulltra_content2{
				padding-top: 0;
			}
			.head_text{
				left: 10%;
			}
			.mainnav {
			    width: 100%;
			    display: block;
			    margin: auto;
			    margin-top: 9px;
			    background: white;
			    z-index: 1;
			    position: absolute;
			   } 
			.footer,.pull-right,.pull-left{
				float: none !important;
				text-align: center;
			} 
			.navbar{
				width: 100%;
			}  

}

.s_icon{
	text-align: left;
	color: green;
}
.services h1{
	text-align: center;
}
.plan{
	padding-top: 100px;
	position: relative;
	display: block;
	margin: auto; 
	width:60%; 

}
.pricing{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-bottom: 100px;
	/*border: 1px solid #ccc;*/
}
.plan .pricing:hover{
	box-shadow: 0px 5px 20px 0px #9ca2a2;
}
.btn-default:hover,.pricing:hover .btn-default{
	background: green;
	border: 1px solid green;
	color: white;
}
.pricing .btn-lg{
	padding: 10px 18px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 6px;
} 
.p_head{
	font-size: 16px;
	font-weight: 600;
}
.pricing p{
	margin-bottom: 15px;
	margin-top: 15px;

}
.pricing  p a {
	
	margin-bottom: 15px;
	margin-top: 15px;
}
.pricing h2{
	font-size: 50px;
	color: green;
	padding: 10px;
	font-weight: 600;
}
.cd-currency {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    font-size: 2rem;
    font-weight: 700;
    color: green;
}
.cd-value {
    font-size: 7rem;
    font-weight: 300;
    color: green;
}
.cd-duration {
    font-size: 1.4rem;
    color: green;
}
.social ul{
	    text-align: center;
    list-style: none;
}
.social ul li {
	display: inline-block;
    /* padding: 10px; */
    /* margin-right: 10px; */
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.social ul li a {
	top: 7px;
    position: relative;
}
footer{
	    height: 70px;
    border-top: 1px solid #ccc;
    padding-top: 25px;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #cccccc;
}

.nav.navbar-nav li > a {
	padding: 16px 25px;
}
.navbar {
	transition: transform 0.3s ease-in-out;
    will-change: transform;
    padding-right: 30px;
    max-width: 1400px;
    left: initial;
    right: initial;
    width: 92%;
    right: 0;
}
.navbar-nav {
	margin: 0;
}
.push-navbar {
	transform: translateX(200px);
}
.navbar-right {
	transition: transform 0.3s ease-in-out;
	will-change: transform;
}
.push-navbar .navbar-right {
	transform: translateX(-200px);
}

#menu_toggle_btn {
	will-change: transform;
	transition: transform 0.3s ease-in-out;
}


#logo {
	 border: 1px solid #ccc;
    height: 70px;
}

/*#logo .btn {
	margin: 0;
	font-size: 14px;
	color: #fff;
	padding: 16px;
}
*/
#dashboard {
	display: flex;
	justify-content: flex-start;
	margin-top: -20px;
}

#dashboard_menu {
	will-change: width;
    max-width: 122px;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: width 0.3s ease-in-out;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    /* overflow-x: hidden; */
    /* margin-top: -60px; */
    border-right: 1px solid #ccc;
    /* box-shadow: 0 0 2px 2px #00000052; */
    z-index: 99999;
}


#dashboard_menu .menu {
	padding-left: 0;
	list-style-type: none;
}

#dashboard_menu .menu li {
	width: 100%;
	height: 80px;
	border-bottom:1px solid #ccc;
}
#dashboard_menu .menu li a{
	    position: relative;
    top: 12px;
    left: 20px;
    text-decoration: none;
    font-size: 12px;
    color: #000000a1;
}


#dashboard_menu .sub-menu {
	padding-left: 0;
	list-style-type: none;
	overflow: hidden;
	transition: height 0.3s ease-in-out;
	will-change: height;
	height: 0;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color: #ccc;
}
/*#dashboard_menu.menu-d {
	width: 62px;
}*/

#dashboard_menu .menu .btn.btn-block {
	padding: 15px 13px;
	margin: 0;
	text-align: left;
}

#dashboard_menu .sub-menu .btn.btn-block {
	padding: 8px 18px;
}
.logo{
	top: 30px !important;
}

#dashboard_menu .menu .menu-icon {
	padding: 5px 30px;
    font-size: 26px;
    color: #000000a1;
}
#dashboard_menu .menu .menu-text {
    text-align: center;
    position: relative;
    margin-right: 30px;
}

#dashboard_menu:not(.menu-d) .menu > li.active > .sub-menu {
	height: initial;
}

#dashboard_menu.menu-d .menu > li:hover .sub-menu{
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 100;
	box-shadow: 0 0 3px #888;
}

#dashboard_body {
	flex: 1;
	padding: 15px;
}
.n_button {
    padding: 14px 6px !important;
    font-size: 20px;/* Add some padding so it looks nice */
}


/* Make the badge float in the top right corner of the button */
.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
 
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

.new_release{
	margin-top: 100px;
	color: black;
}



.content-body{
	    height: 100%;
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 1;
	    width: 91%;
	    padding-top: 80px;
	    overflow-y:scroll; 
}
.movie-poster{
	padding: 0;

}


.cat{
  padding: 5px;
}
.cat h5 {
    font-family: monospace;
    font-weight: 600;
}

.r_date{
  padding: 5px;
}
.r_date h5 {
      font-family: monospace;
    font-weight: 600;
}
.r_date p{
  font-size: 12px;
}
.m_length{
  padding: 5px;
}
.m_length h5{
      font-family: monospace;
    font-weight: 600;
}
.m_legth{
  font-size: 12px;
}
.m_director{
  padding: 5px;
}
.m_director h5{
      font-family: monospace;
    font-weight: 600;
}
.m_director p{
  font-size: 12px;
}
.m_writer{
  padding: 5px;
}
.m_writer h5{
      font-family: monospace;
    font-weight: 600;
}
.m_writer p{
  font-size: 12px;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  /*display: inline-block;*/
}
/*input.empty {
    
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}*/
input {
      border: 1px solid transparent;
      font-family: fontAwesome;
    background-color: #f1f1f1;
    padding: 27px;
    font-size: 16px;
}
input:focus{
	outline: none;
}
input[type=text] {
  background-color: white;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  width: 140%;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 13px;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}













.jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 031 css*/
        .jssorb031 {position:absolute;}
        .jssorb031 .i {position:absolute;cursor:pointer;}
        .jssorb031 .i .b {
        	fill:#000;
        	fill-opacity:0.5;
        stroke:#fff;
        stroke-width:1200;
        stroke-miterlimit:10;
        stroke-opacity:0.3;
    }
        .jssorb031 .i:hover .b {
        	fill:#fff;
        	fill-opacity:.7;
        stroke:#000;
        stroke-opacity:.5;
    }
        .jssorb031 .iav .b {fill:#fff;
        	stroke:#000;
        fill-opacity:1;
    }
        .jssorb031 .i.idn {
        	opacity:.3;
        }


  .cat_icon{
  	padding: 15px;
  	height: 100px;
    padding-top: 25px;
  }      

.m_category{

	padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}
.m_category:hover{
  box-shadow: 1px 1px 1px 1px #0000001a;
}
.m_category p {
  margin-top: 5px;
}

.cat_data_div{
	width: 19%;
	position: relative;
	margin: 5px;
	float: left;

}
.cat_img img {
	    border-radius: 5px;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* background-color: white; */
    box-shadow: 0px -1px 2px 1px #00000082;
}



.progress-meter {
    width: 35px;
    height: 35px;
    background: #fff;
}
.progress-meter .interior {
  /*padding: 16px;*/
}
.progress-meter .meter {
    border-radius: 50%;
    height: 37px;
    background: #000;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
}
.progress-meter .meter-in {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  overflow: hidden;
}
.progress-meter .meter-out {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 00%;
  overflow: hidden;
}
.progress-meter .in-bar {
  width: 100%;
  height: 100%;
  background: #0f0;
  position: absolute;
  left: -100%;
  transform-origin: 100% 50%;
  transform: rotate(0deg);
}
.progress-meter .out-bar {
  width: 100%;
  height: 100%;
  background: #0f0;
  position: absolute;
  left: 100%;
  transform-origin: 0% 50%;
  transform: rotate(0deg);
}
.progress-meter .readout {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #000;
  color: #0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  line-height: 2.8;
}
.cat_data_head{
    height: 60px;
    padding: 13px 13px 0px 13px;
    box-shadow: 0px -1px 2px 1px #00000082;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.cat_data_head span{
  font-size: 16px;
  position: relative;
  top: 8px;
    font-family: monospace;
}


/*============= form css ===================*/






/*custom font*/

/*form styles*/
#msform {
  /*width: 400px;*/
  /*margin: 50px auto;*/
  /*text-align: center;*/
  position: relative;
}
#msform fieldset {
     background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 25px 10px;
    box-sizing: border-box;
    width: 85%;
    margin: 0 10%;
    height: 550px;
    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  /*color: white;*/
  text-transform: uppercase;
  font-size: 9px;
  width: 25%;
  float: left;
  /*height: 40px;*/
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 35px;
  /*display: block;*/
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  padding: 10px;
  /*margin: 0 auto 5px auto;*/
}
/*progressbar connectors*/
#progressbar li:after {
  /*content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; *//*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #27AE60;
  color: white;
}
#progressbar li.active{
  
  border-bottom: 2px solid #27ae60;   
}
.counter{
    width: 85%;
    float: right;
    font-size: 12px;
}    


.cat_data{
  padding: 10px 10px 10px 10px;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #675959;
    -webkit-font-smoothing: antialiased;
 }   



 .poster_div{
      z-index: 1;
    width: 200px;
    height: 300px;
    /* position: relative; */
    display: block;
    margin: auto;
 }

 .poster_data_head{
      /* height: 0; */
    padding: 13px 13px 0px 13px;
    /* box-shadow: 0px -1px 2px 1px #00000082; */
    /* border-radius: 5px; */
    /* border-top-right-radius: 0; */
    /* border-top-left-radius: 0; */
    /* position: absolute; */
    margin-top: -60px;
    /* background: #ccc; */
 }
 .vid {
    width: 100vw;
    height: 400px;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    background-color: black;
}
#yt {
    display: none;
}