/*

Template Name: SKRN Progression
Template URI: http://progression-studios.com/skrn/
Author: Progression Studios
Author URI: https://progressionstudios.com/
Description: Media Streaming App Site Template
Version: 1.0
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html

*/



hr,
p {
    margin-bottom: 1.5rem
}

.checkbox-pro-container,
.noselect {
    -webkit-user-select: none;
    -ms-user-select: none
}

#pro-scroll-top,
.sf-menu li {
    white-space: nowrap
}

body,
input,
select,
textarea {
    font-family: Lato, sans-serif;
    line-height: 1.8;
    color: #555;
    font-size: 15px
}

.btn,
h1,
h2,
h3,
h4,
h5,
h6,
nav#site-navigation-pro {
    font-family: Montserrat, sans-serif
}

hr {
    border-color: rgba(0, 0, 0, .09)
}

p.small-paragraph-spacing {
    margin-bottom: 1rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #333;
    margin-bottom: .6rem
}

.flexslider.progression-studios-dashboard-slider h2.light-fonts-pro a,
h1.light-fonts-pro,
h2.light-fonts-pro {
    color: #fff
}

p.light-fonts-pro {
    color: rgba(255, 255, 255, .85)
}

.progression-studios-slider-caption-width h6.light-fonts-pro,
h3.light-fonts-pro,
h4.light-fonts-pro,
h5.light-fonts-pro,
h6.light-fonts-pro {
    color: rgba(255, 255, 255, .7)
}

h1.heading-extra-margin-bottom,
h2.heading-extra-margin-bottom,
h3.heading-extra-margin-bottom,
h4.heading-extra-margin-bottom,
h5.heading-extra-margin-bottom,
h6.heading-extra-margin-bottom {
    margin-bottom: 1.2rem
}

.btn {
    font-weight: 400;
    padding: 12px 20px;
    font-size: 13px;
    border: 1px solid #e7e7e7;
    background: #f9f9f9;
    color: #666
}

.btn.btn-lg {
    padding: 16px 30px;
    font-size: 15px
}

.btn.btn-sm {
    padding: 10px 18px;
    font-size: 12px
}

button.btn:focus {
    box-shadow: none
}

.btn.btn-display-block {
    display: block;
    width: 100%
}

.form-group .btn {
    font-size: 14px
}

.btn i {
    margin-right: 8px
}

#header-user-notification-list li a:hover,
#header-user-profile-menu ul li a:hover,
#mobile-navigation-pro li.current-menu-item a,
.billing-plan-container h3 .total,
.current-plan-account h2,
.item-listing-text-skrn h6 a:hover,
.item-playlist-text-skrn h5 a:hover,
.jumbotron-pro [class*=" icon-"],
.jumbotron-pro [class^=icon-],
.jumbotron-pro i.fa-check-circle,
.payment-method-container h5 sup,
.pricing-plans-page-container h2,
.progression-studios-slider-more-options ul li a:hover,
.progression-studios-slider-more-options ul li:last-child a:hover,
.welcome-page-styles h3.welcome-plan-title span,
a,
h2.registration-final-heading span,
ul#profile-watched-stats span,
ul#sidebar-reviews-pro li .spoiler-review,
ul.checkmark-list-pro li:before,
ul.page-numbers li a.next:hover,
ul.page-numbers li a.previous:hover,
ul.registration-genres-choice li i.fa-check-circle,
ul.registration-invite-friends-list li i.fa-check-circle,
ul.welcome-features li:before {
    color: #3db13d
}

.flexslider.progression-studios-dashboard-slider h2 a:hover,
a:hover {
    color: #9d9d9d;
    text-decoration: none
}

#search-mobile-nav-pro input:focus,
.form-group input:focus,
.form-group textarea:focus,
.jumbotron-pro.jumbotron-selected,
.registration-billing-form .jumbotron-pro:hover,
select.custom-select:focus,
ul#registration-steps-pro li.current-menu-item,
ul#registration-steps-pro li:hover,
ul.dashboard-genres-pro li.active,
ul.registration-genres-choice li.active,
ul.registration-genres-choice li:hover,
ul.registration-invite-friends-list li.active,
ul.registration-invite-friends-list li:hover {
    border-color: #3db13d
}

ul#registration-steps-pro li.current-menu-item .registration-step-circle-icon:before {
    border-top-color: #3db13d
}

.form-group-invite-friends::-webkit-scrollbar-thumb {
    background: #3db13d
}

.checkbox-pro-container .checkmark-pro:after,
a.edit-profile-sidebar,
body .asRange .asRange-pointer:before,
body .asRange .asRange-selected,
span.user-notification-count,
ul#friends-activity-profiles li.friends-activity-profiles-more a,
ul#registration-steps-pro li.current-menu-item .registration-step-circle-icon,
ul.dashboard-sub-menu li.current a:after {
    background: #3db13d
}

#pro-scroll-top:hover,
.btn-green-pro,
.btn-header-pro:hover,
.btn:hover,
.flex-control-paging li a.flex-active,
.sf-menu a:before,
a.not-a-member-pro:hover,
body .short-border-bottom:after,
ul.page-numbers li span.page-numbers.current {
    color: #fff;
    border-color: #3db13d;
    background: #3db13d
}

.btn-green-pro:hover,
ul#friends-activity-profiles li.friends-activity-profiles-more a:hover {
    color: #fff;
    border-color: #9d9d9d;
    background: #9d9d9d
}

::-moz-selection {
    color: #fff;
    background: #3db13d
}

::selection {
    color: #fff;
    background: #3db13d
}

::selection h2 {
    color: #fff;
    background: #3db13d
}

.btn-shadow-pro {
    box-shadow: 0 12px 28px rgba(61, 177, 61, .38)
}

.btn-shadow-pro:hover {
    box-shadow: 0 12px 28px rgba(161, 161, 161, .38)
}

#content-pro {
    padding: 50px 0
}

img {
    max-width: 100%;
    height: auto
}

@media (min-width:576px) {
    .container {
        max-width: 100%
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.noselect {
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none
}

header#masthead-pro h1 img {
    width: 111px;
    margin: 27px 0
}

header#masthead-pro {
    position: relative;
    z-index: 50;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .06)
}

header#masthead-pro:after {
    display: block;
    content: '';
    position: relative;
    margin-top: -1px;
    bottom: 0;
    height: 1px;
    width: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, .07)
}

header#masthead-pro h1 {
    line-height: 1;
    font-size: 5px;
    margin: 0 35px 0 0;
    padding: 0;
    float: left
}

.btn-header-pro {
    margin-top: 20px;
    float: right
}

#content-sidebar-pro,
#video-logo-background,
.sf-menu>li {
    float: left
}

.btn-header-pro.btn-green-pro {
    margin-left: 12px
}

.sf-menu,
.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none
}

.sf-menu li.normal-item-pro,
.sf-menu li.normal-item-pro li {
    position: relative
}

.sf-menu li.normal-item-pro ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99
}

.sf-menu a,
.sf-menu li.sfHover>ul,
.sf-menu li:hover>ul {
    display: block
}

.sf-menu li.normal-item-pro ul ul,
.sf-menu ul ul {
    top: 0;
    left: 100%
}

.sf-menu a {
    position: relative;
    text-decoration: none;
    zoom: 1;
    cursor: pointer;
    line-height: 1;
    color: #272727;
    font-size: 13px;
    padding: 37px 20px
}

.sf-arrows .sf-with-ul:after {
    position: absolute;
    height: 0;
    width: 0
}

.sf-arrows>.sfHover>.sf-with-ul:after,
.sf-arrows>li:hover>.sf-with-ul:after,
.sf-arrows>li>.sf-with-ul:focus:after {
    border-top-color: #fff
}

.sf-arrows ul .sf-with-ul:after {
    margin-right: -3px;
    border-color: transparent transparent transparent #dFeEFF;
    border-left-color: rgba(255, 255, 255, .5)
}

.sf-menu li li a,
.sf-menu li li:last-child li a {
    border-bottom: 1px solid rgba(255, 255, 255, .08)
}

.sf-arrows ul .sfHover>.sf-with-ul:after,
.sf-arrows ul li:hover>.sf-with-ul:after,
.sf-arrows ul li>.sf-with-ul:focus:after {
    border-left-color: #fff
}

.sf-menu li,
.sf-menu li.sfHover,
.sf-menu li:hover,
.sf-menu ul li,
.sf-menu ul ul li {
    background: 0 0
}

nav#site-navigation-pro {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .04em
}

.sf-menu a:hover,
.sf-menu li.current-menu-item a,
.sf-menu li.sfHover a {
    color: #272727;
    background: 0 0
}

.sf-menu a:before {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    margin-top: 18px;
    border-radius: 6px;
    height: 2px;
    opacity: 0;
    width: 100%;
    width: calc(100% - 40px)
}

#video-logo-background:after,
#video-logo-background:before {
    height: 100%;
    position: absolute
}

.sf-menu a:hover:before,
.sf-menu li.current-menu-item a:before,
.sf-menu li.sfHover a:before {
    opacity: 1
}

.sf-menu li li a:before {
    display: none
}

.sf-menu ul {
    min-width: 10em;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    text-transform: none;
    letter-spacing: 0;
    background: #232323;
    border: 1px solid rgba(255, 255, 255, .08);
    border-top: none;
    padding: 18px 32px;
    margin-left: 10px
}

.sf-menu ul ul {
    margin-left: 32px
}

.sf-menu li li a {
    text-transform: normal;
    font-size: 13px;
    padding: 14px 10px 14px 0
}

.sf-menu li li:last-child a,
.sf-menu li li:last-child li:last-child a {
    border: none
}

.sf-menu li.sfHover li a,
.sf-menu li.sfHover li.sfHover li a,
.sf-menu li.sfHover li.sfHover li.sfHover li a,
.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li a,
.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover li a {
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, .6)
}

.sf-menu li.sfHover li a:hover,
.sf-menu li.sfHover li li a:hover,
.sf-menu li.sfHover li li li a:hover,
.sf-menu li.sfHover li li li li a:hover,
.sf-menu li.sfHover li li li li li a:hover,
.sf-menu li.sfHover li.sfHover a,
.sf-menu li.sfHover li.sfHover li.sfHover a,
.sf-menu li.sfHover li.sfHover li.sfHover a:hover,
.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover a,
.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover a:hover,
.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover a,
.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover a:hover,
.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover a {
    color: #fff;
    background: rgba(0, 0, 0, 0)
}

#video-logo-background:after,
#video-search-header-filtering:after {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, .03) 0, rgba(0, 0, 0, 0) 100%)
}

#sidebar-bg:after,
#video-logo-background:before {
    width: 1px;
    background: rgba(0, 0, 0, .04);
    left: 160px
}

.sf-menu i {
    line-height: 1;
    margin-right: 6px;
    font-size: 90%;
    position: relative;
    margin-bottom: -2px;
    margin-top: -2px
}

.sf-menu li li i {
    font-size: 95%
}

.sf-arrows .sf-with-ul {
    padding-right: 36px
}

.sf-arrows .sf-with-ul:after {
    display: inline-block;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    border: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    font-size: 11px;
    top: 50%;
    right: 28px;
    margin-top: -7px
}

.sf-arrows ul .sf-with-ul:after {
    font: normal normal normal 10px/1 "Font Awesome 5 Free";
    content: "\f105";
    margin-top: -5px;
    right: 14px
}

.circle-rating-pro span,
ul#vertical-sidebar-nav.sf-menu,
ul.page-numbers li a,
ul.page-numbers li span.page-numbers {
    font-weight: 400;
    font-family: Montserrat, sans-serif
}

#sidebar-bg:after,
#sidebar-bg:before,
#video-logo-background:after,
#video-logo-background:before {
    content: "";
    display: block
}

header#videohead-pro {
    height: 90px;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 110;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .08)
}

nav#sidebar-nav {
    padding-top: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 160px;
    z-index: 25
}

#video-logo-background a {
    display: block;
    height: 90px;
    line-height: 90px;
    text-align: center;
    width: 160px
}

#video-logo-background:after {
    left: 160px;
    top: 0;
    z-index: -1;
    width: 10px;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, .03) 0, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, .03) 0, rgba(0, 0, 0, 0) 100%)
}

#video-logo-background img {
    position: relative;
    top: -2px;
    left: 2px;
    width: 95px;
    text-align: center;
    margin: 0
}

nav#sidebar-nav.sticky-sidebar-js {
    position: absolute
}

#content-sidebar-pro:after,
#sidebar-bg:after,
#sidebar-bg:before {
    position: fixed;
    height: 100%;
    top: 0
}

#sidebar-bg:before {
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .08);
    min-height: 100%;
    left: 0;
    width: 160px;
    z-index: 1
}

main#col-main {
    margin-left: 160px
}

.dashboard-container {
    padding: 0 50px
}

#content-sidebar-pro {
    margin-left: 160px;
    width: 300px;
    background: #fafafa
}

#content-sidebar-pro:after {
    content: '';
    left: 160px;
    width: 300px;
    background: #fafafa;
    z-index: -1;
    border-right: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1)
}

main#col-main-with-sidebar {
    margin-left: 460px
}

ul.dashboard-genres-pro {
    list-style: none;
    margin: 0 0 40px;
    padding: 22px 30px;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    display: table;
    table-layout: fixed;
    width: 100%
}

ul.dashboard-genres-pro li {
    margin: 0;
    display: table-cell;
    padding: 10px 6px;
    border: 2px solid transparent;
    border-radius: 4px;
    position: relative;
    cursor: pointer
}

ul.dashboard-genres-pro li img {
    margin-bottom: 8px;
    width: 60px
}

ul.dashboard-genres-pro li h6 {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    margin-bottom: 0
}

.item-listing-text-skrn h6 a,
.item-playlist-text-skrn h5 a {
    color: #333
}

.item-listing-container-skrn {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .08);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .06);
    margin-bottom: 30px
}

.item-listing-container-skrn img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.item-listing-text-skrn {
    padding: 0 24px;
    height: 80px;
    display: table;
    width: 100%
}

.item-listing-text-skrn-vertical-align {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.item-listing-text-skrn h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2rem;
    margin-top: 4px;
    float: left;
    width: calc(100% - 50px)
}

.item-listing-text-skrn .circle-rating-pro {
    margin-bottom: -5px
}

.circle-rating-pro {
    float: right;
    position: relative
}

.circle-rating-pro span {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 32px;
    width: 32px;
    text-align: center;
    font-size: 11px
}

.item-playlist-container-skrn {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .08);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .06);
    margin-bottom: 30px
}

.item-playlist-container-skrn img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.item-playlist-text-skrn {
    text-align: center;
    position: relative;
    padding: 38px 24px 20px
}

.item-playlist-text-skrn img {
    border-radius: 80px;
    width: 46px;
    margin-left: -23px;
    border: 3px solid #fff;
    position: absolute;
    top: -22px;
    left: 50%
}

.item-playlist-text-skrn h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px
}

.item-playlist-text-skrn h6 {
    font-weight: 400;
    color: #adadad;
    font-size: 12px
}

ul.page-numbers {
    margin: 20px auto 45px;
    text-align: center;
    padding: 0;
    list-style: none
}

ul.page-numbers li {
    display: inline;
    margin: 0;
    padding: 0
}

ul.page-numbers li a,
ul.page-numbers li span.page-numbers {
    display: inline-block;
    margin: 0 4px 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #999;
    background: rgba(0, 0, 0, .03);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 5px;
    font-size: 13px
}

ul.page-numbers li a:hover {
    background: rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .18)
}

ul.page-numbers li a.next,
ul.page-numbers li a.previous {
    border-color: transparent;
    background: rgba(0, 0, 0, 0);
    color: #666
}

ul#vertical-sidebar-nav.sf-menu {
    -webkit-font-smoothing: subpixel-antialiased;
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: .02em
}

ul#vertical-sidebar-nav.sf-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%
}

ul#vertical-sidebar-nav.sf-menu li a {
    display: block;
    font-size: 12px;
    color: #848484;
    padding: 26px 0;
    border-bottom: 1px solid #e7e7e7
}

ul#vertical-sidebar-nav.sf-menu li li a,
ul#vertical-sidebar-nav.sf-menu li li:last-child li a {
    border-bottom: 1px solid rgba(255, 255, 255, .08)
}

ul#vertical-sidebar-nav.sf-menu a:hover,
ul#vertical-sidebar-nav.sf-menu li.current-menu-item a,
ul#vertical-sidebar-nav.sf-menu li.sfHover a {
    color: #3db13d
}

ul#vertical-sidebar-nav.sf-menu ul {
    font-weight: 300;
    background: #232323;
    border: 1px solid rgba(255, 255, 255, .08);
    border-top: none;
    padding: 18px 32px;
    margin-left: 10px
}

ul#vertical-sidebar-nav.sf-menu li li a {
    text-transform: normal;
    text-align: left;
    font-size: 13px;
    padding: 14px 10px 14px 0
}

ul#vertical-sidebar-nav.sf-menu li li:last-child a,
ul#vertical-sidebar-nav.sf-menu li li:last-child li:last-child a {
    border: none
}

ul#vertical-sidebar-nav.sf-menu li.sfHover li a,
ul#vertical-sidebar-nav.sf-menu li.sfHover li.sfHover li a,
ul#vertical-sidebar-nav.sf-menu li.sfHover li.sfHover li.sfHover li a,
ul#vertical-sidebar-nav.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li a,
ul#vertical-sidebar-nav.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover li a {
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, .6)
}

ul#vertical-sidebar-nav.sf-menu li.sfHover li a:hover,
ul#vertical-sidebar-nav.sf-menu li.sfHover li li a:hover,
ul#vertical-sidebar-nav.sf-menu li.sfHover li li li a:hover,
ul#vertical-sidebar-nav.sf-menu li.sfHover li li li li a:hover,
ul#vertical-sidebar-nav.sf-menu li.sfHover li li li li li a:hover,
ul#vertical-sidebar-nav.sf-menu li.sfHover li.sfHover a,
ul#vertical-sidebar-nav.sf-menu li.sfHover li.sfHover li.sfHover a,
ul#vertical-sidebar-nav.sf-menu li.sfHover li.sfHover li.sfHover a:hover,
ul#vertical-sidebar-nav.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover a,
ul#vertical-sidebar-nav.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover a:hover,
ul#vertical-sidebar-nav.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover a,
ul#vertical-sidebar-nav.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover a:hover,
ul#vertical-sidebar-nav.sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover a {
    color: #fff;
    background: rgba(0, 0, 0, 0)
}

#header-user-notification-list li a:hover,
#header-user-profile-menu ul li a:hover {
    background: rgba(0, 0, 0, .04)
}

ul#vertical-sidebar-nav.sf-menu li a:before {
    display: none
}

ul#vertical-sidebar-nav.sf-menu .sf-with-ul:after {
    content: "\f105";
    font-size: 12px
}

ul#vertical-sidebar-nav.sf-menu li li .sf-with-ul:after {
    font-size: 11px
}

ul#vertical-sidebar-nav.sf-menu.sf-arrows ul .sf-with-ul {
    padding-right: 30px
}

ul#vertical-sidebar-nav.sf-menu li span {
    display: block;
    font-size: 40px;
    margin-bottom: 7px
}

#header-user-profile-click,
#header-user-profile-menu ul li a {
    color: #888;
    font-size: 13px;
    font-family: Montserrat, sans-serif
}

ul#vertical-sidebar-nav.sf-menu li ul {
    left: 100%;
    top: 0;
    margin: 0
}

#header-user-notification-menu,
#header-user-profile-menu {
    margin-top: 14px;
    overflow: visible;
    z-index: 50;
    background: #fff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .05);
    position: absolute
}

ul#vertical-sidebar-nav.sf-menu ul ul {
    margin-left: 32px
}

#header-user-profile {
    float: right;
    position: relative
}

#header-user-profile-click {
    cursor: pointer;
    font-weight: 400;
    padding: 25px 40px 25px 20px
}

#header-user-profile-menu {
    right: 20px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .12);
    min-width: 180px
}

#header-user-profile-menu:after,
#header-user-profile-menu:before {
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    margin-top: -10px;
    width: 0;
    height: 0;
    z-index: 30;
    border-style: solid
}

#header-user-profile-menu:before {
    top: -10px;
    border-color: transparent transparent rgba(0, 0, 0, .16);
    border-width: 10px
}

#header-user-profile-menu:after {
    top: -9px;
    border-color: transparent transparent #fff;
    border-width: 10px
}

#header-user-profile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#header-user-profile-menu ul li {
    margin: 0;
    padding: 0
}

#header-user-profile-menu ul li a {
    display: block;
    font-weight: 300;
    padding: 10px 20px
}

#header-user-profile-menu ul li span {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 8px
}

#header-user-profile-click:hover,
#header-user-profile.active #header-user-profile-click {
    color: #666
}

#header-user-profile img {
    width: 40px;
    border-radius: 50px;
    margin-right: 6px
}

#header-user-profile #header-username {
    display: inline-block
}

#header-user-profile i {
    margin-left: 6px
}

#header-user-notification {
    float: right;
    position: relative
}

#header-user-notification-click {
    position: relative;
    color: #bfbfbf;
    padding: 20px 15px;
    font-size: 28px;
    cursor: pointer
}

#header-user-notification-click:hover,
#header-user-notification.active #header-user-notification-click {
    color: #a0a0a0
}

#header-user-notification-click i {
    position: relative;
    top: -1px
}

span.user-notification-count {
    display: block;
    top: 29px;
    right: 8px;
    text-align: center;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 30px;
    width: 18px;
    height: 18px;
    line-height: 15px;
    font-weight: 700;
    font-size: 8px;
    color: #fff
}

#header-user-notification-menu {
    right: -5px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .12);
    min-width: 280px
}

#header-user-notification-menu:after,
#header-user-notification-menu:before {
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    margin-top: -10px;
    width: 0;
    height: 0;
    z-index: 30;
    border-style: solid
}

#header-user-notification-menu:before {
    top: -10px;
    border-color: transparent transparent rgba(0, 0, 0, .16);
    border-width: 10px
}

#header-user-notification-menu:after {
    top: -9px;
    border-color: transparent transparent #fff;
    border-width: 10px
}

#header-user-notification-menu h3 {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px 20px 18px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .04)
}

#header-user-notification-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 240px;
    overflow-y: auto
}

#header-user-notification-list li {
    margin: 0;
    padding: 0
}

#header-user-notification-list li a {
    display: block;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #888;
    padding: 10px 20px 10px 64px;
    font-size: 12px;
    line-height: 1.5;
    position: relative
}

#header-user-notification-list li img {
    position: absolute;
    left: 20px;
    top: 12px;
    border-radius: 40px;
    width: 35px;
    height: 35px
}

#header-user-notification-list li .header-user-notify-time {
    display: block;
    color: #bbb;
    padding-top: 5px;
    font-size: 11px
}

#video-search-header {
    float: left;
    height: 89px;
    line-height: 89px;
    position: relative
}

#video-search-header input {
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #444;
    background: 0 0;
    padding: 10px 0 10px 108px;
    border: none;
    width: 380px;
    margin-top:20px;
}

#search-icon-more {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 30px;
    display: block;
    margin-top: -30px;
    width: 65px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 57px 24px;
    background-image: url(images/search-icon.png);
    opacity: .62
}

#search-icon-more:hover,
#video-search-header.active #search-icon-more {
    opacity: 1
}

#video-search-header::-webkit-input-placeholder {
    color: #aaa
}

#video-search-header::-moz-placeholder {
    color: #aaa
}

#video-search-header:-ms-input-placeholder {
    color: #aaa
}

#video-search-header:-moz-placeholder {
    color: #aaa
}

#video-search-header input:focus {
    outline: 0;
    box-shadow: none
}

#video-search-header-filtering {
    top: 100%;
    margin-top: 1px;
    position: absolute;
    width: calc(100vw - 160px);
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .05);
    line-height: 1.6
}

#video-search-header-filtering:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 1px;
    background: rgba(0, 0, 0, .04);
    height: 100%
}

#video-search-header-filtering:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, .03) 0, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, .03) 0, rgba(0, 0, 0, 0) 100%)
}

#video-search-header-filtering-padding {
    padding: 0 15px 42px 19px;
}

.col-sm.extra-padding {
    padding-right: 35px;
    padding-left: 35px;
    position: relative
}

#video-search-header-filtering-padding .dotted-dividers-pro {
    position: absolute;
    top: 40px;
    right: 0;
    height: calc(100% - 40px);
    width: 1px;
    background-repeat: repeat-all;
    background-size: 1px 6px;
    background-image: url(images/dotted-search.png)
}

#video-search-header-filtering h5 {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    padding: 40px 20px 18px 0;
    margin: 0
}

.checkbox-pro-container {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    color: #777;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    width: 200px;
}

.checkbox-pro-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.checkbox-pro-container .checkmark-pro {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .12)
}

.checkbox-pro-container input:checked~.checkmark-pro,
.checkbox-pro-container:hover input~.checkmark-pro {
    background-color: #fff
}

.checkbox-pro-container .checkmark-pro:after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    margin-top: -3px;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 30px
}

.checkbox-pro-container input:checked~.checkmark-pro:after {
    display: block
}

#video-search-header-buttons {
    text-align: center;
    padding: 30px 0 40px
}

#video-search-header-buttons .btn {
    margin-right: 5px;
    margin-left: 5px
}

#video-search-header-buttons .btn.btn-green-pro {
    min-width: 300px
}

.asRange {
    position: relative;
    width: 331px;
    height: 8px;
    background-color: #cfcdc7;
    border-radius: 8px
}

.asRange .asRange-pointer {
    position: absolute;
    left: 30%;
    z-index: 2;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    background-color: #fff;
    border-radius: 9px;
    cursor: pointer
}

.asRange .asRange-pointer:after,
.asRange .asRange-pointer:before {
    border-radius: inherit;
    content: "";
    position: absolute
}

.asRange .asRange-pointer:before {
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    background: #6ba1ad
}

.asRange .asRange-pointer:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff
}

.asRange .asRange-pointer.start {
    left: 0;
    margin-left: 4px
}

.asRange .asRange-pointer.stop {
    left: 100%;
    margin-left: -12px
}

.asRange .asRange-pointer .asRange-tip {
    position: absolute;
    top: -33px;
    left: 0;
    width: 36px;
    height: 20px;
    margin-left: -15px;
    font-family: Bpreplay;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #5d5c58;
    border: 1px solid #5d5c58;
    border-radius: 3px;
    -webkit-transition: opacity .3s ease-in-out 0s;
    transition: opacity .3s ease-in-out 0s
}

.asRange .asRange-pointer .asRange-tip:before {
    position: absolute;
    bottom: -3px;
    left: 50%;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    content: "";
    background-color: #5d5c58;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.asRange .asRange-selected {
    position: absolute;
    left: 30%;
    z-index: 1;
    width: 40%;
    height: 8px;
    background-color: #7ebdcb;
    border-radius: 9px
}

.asRange .asRange-scale {
    display: none
}

.asRange-scale {
    position: relative;
    width: 331px;
    height: 8px;
    background-color: #cfcdc7;
    border-radius: 8px
}

.asRange-scale .asRange-pointer {
    position: absolute;
    left: 30%;
    z-index: 2;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    background-color: #fff;
    border-radius: 9px
}

.asRange-scale .asRange-pointer:after,
.asRange-scale .asRange-pointer:before {
    border-radius: inherit;
    content: "";
    position: absolute
}

.asRange-scale .asRange-pointer:before {
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    background: #6ba1ad
}

.asRange-scale .asRange-pointer:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff
}

.asRange-scale .asRange-pointer.start {
    left: 0;
    margin-left: 4px
}

.asRange-scale .asRange-pointer.stop {
    left: 100%;
    margin-left: -12px
}

.asRange-scale .asRange-pointer .asRange-tip {
    position: absolute;
    top: -33px;
    left: 0;
    width: 36px;
    height: 20px;
    margin-left: -15px;
    font-family: Bpreplay;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #5d5c58;
    border: 1px solid #5d5c58;
    border-radius: 3px;
    -webkit-transition: opacity .3s ease-in-out 0s;
    transition: opacity .3s ease-in-out 0s
}

.asRange-scale .asRange-pointer .asRange-tip:before {
    position: absolute;
    bottom: -3px;
    left: 50%;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    content: "";
    background-color: #5d5c58;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.asRange-scale .asRange-selected {
    position: absolute;
    left: 30%;
    z-index: 1;
    width: 40%;
    height: 8px;
    background-color: #7ebdcb;
    border-radius: 9px
}

.asRange-scale .asRange-scale {
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    background: url(http://progression-studios.com/image/scale.png/) 0 no-repeat
}

.asRange-scale .asRange-scale li {
    position: absolute;
    top: 18px;
    width: 30px;
    height: 20px;
    padding: 0;
    margin: 0 0 0 -15px;
    text-align: center
}

.asRange-scale .asRange-scale li:first-child {
    left: 0
}

.asRange-scale .asRange-scale li:nth-child(2) {
    left: 33.3%
}

.asRange-scale .asRange-scale li:nth-child(3) {
    left: 66.6%
}

.asRange-scale .asRange-scale li:last-child {
    left: 100%
}

.asRange .asRange-pointer span.asRange-tip {
    font-family: Lato, sans-serif;
    color: #333;
    font-size: 13px;
    background: 0 0;
    border: none;
    top: 16px
}

.asRange .asRange-pointer:focus {
    outline: 0;
    box-shadow: none
}

.asRange .asRange-pointer span.asRange-tip:before {
    display: none
}

.extra-range-padding .asRange {
    background: #ddd;
    margin-top: 5px;
    margin-right: 14px;
    max-width: 270px
}

#search-mobile-nav-pro {
    text-align: center
}

#search-mobile-nav-pro input {
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #444;
    background: url(images/mobile-search-icon.png) 20px 13px no-repeat;
    width: calc(100% - 40px);
    padding: 9px 15px 9px 64px;
    border: none;
    border: 2px solid rgba(0, 0, 0, .09);
    margin: 15px auto;
    border-radius: 30px;
    background-size: 30px 17px
}

.flexslider.progression-studios-dashboard-slider.progression-studios-full-height-slider,
.progression-studios-full-height-slider .progression-studios-slider-dashboard-image-background {
    height: calc(100vh - 90px)
}

.flexslider.progression-studios-dashboard-slider {
    background: #fafafa;
    height: 85vh
}

.progression-studios-slider-dashboard-image-background {
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.flexslider.progression-studios-dashboard-slider:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, .05)
}

.flexslider.progression-studios-dashboard-slider .container {
    position: relative
}

.progression-studios-slider-dashboard-caption-width {
    max-width: 480px;
    margin-left: 20px;
    position: relative;
    z-index: 10
}

.flexslider.progression-studios-dashboard-slider h6 {
    font-size: 15px;
    letter-spacing: .7em;
    text-transform: uppercase;
    margin-bottom: 25px
}

.flexslider.progression-studios-dashboard-slider h5.created-by-heading-pro {
    font-size: 14px;
    text-transform: none;
    margin-bottom: 5px;
    color: #fff;
    letter-spacing: .03em
}

.flexslider.progression-studios-dashboard-slider h6.created-by-heading-pro {
    font-size: 13px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 5px;
    letter-spacing: .03em
}

.flexslider.progression-studios-dashboard-slider img.created-by-avatar {
    float: left;
    border-radius: 80px;
    width: 48px;
    margin-right: 12px
}

ul.progression-studios-slider-rating {
    list-style: none;
    margin: 0 0 8px;
    padding: 0
}

ul.progression-studios-slider-rating li {
    display: inline-block;
    line-height: 1;
    margin: 0 7px 5px 0;
    padding: 7px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 700;
    border: 2px solid #9d9d9d;
    color: #9d9d9d
}

.flexslider.progression-studios-dashboard-slider h2 {
    font-size: 52px;
    line-height: 1.1;
    margin-bottom: 8px
}

.flexslider.progression-studios-dashboard-slider h2 a {
    color: #333
}

ul.progression-studios-slider-meta {
    list-style: none;
    margin: 0 0 15px;
    padding: 0
}

ul.progression-studios-slider-meta li {
    display: inline;
    margin: 0;
    padding: 0;
    color: #a8a8a8;
    font-size: 14px
}

ul.progression-studios-slider-meta li:after {
    content: "|";
    padding: 0 14px
}

ul.progression-studios-slider-meta li:last-child:after {
    display: none
}

p.progression-studios-slider-description {
    font-size: 14px;
    margin-bottom: 25px
}

.progression-studios-dashboard-slider .btn-slider-pro {
    float: left;
    margin-right: 15px
}

.progression-studios-slider-more-options {
    float: left;
    cursor: pointer;
    margin: 0;
    position: relative;
    padding-right: 12px
}

.progression-studios-slider-more-options i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
    border-radius: 60px;
    border: 2px solid #acabab;
    color: #acabab
}

.progression-studios-slider-more-options i:hover,
.progression-studios-slider-more-options.active i {
    border-color: #8f8f8f;
    color: #8f8f8f
}

.progression-studios-slider-more-options ul {
    position: absolute;
    left: 100%;
    top: 0;
    width: 170px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, .06);
    border-radius: 5px;
    list-style: none;
    margin: 0;
    padding: 16px 0 0
}

.progression-studios-slider-more-options ul li {
    margin: 0;
    padding: 0 24px
}

.progression-studios-slider-more-options ul li a {
    display: block;
    margin-bottom: 4px;
    color: #272727;
    font-size: 13px
}

.progression-studios-slider-more-options ul li:last-child {
    border-top: 1px solid #e7e7e7;
    margin-top: 10px
}

.progression-studios-slider-more-options ul li:last-child a {
    color: #aaa;
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 11px
}

.flexslider.progression-studios-dashboard-slider h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 8px 0 15px;
    letter-spacing: .05em
}

ul.progression-studios-staring-slider {
    list-style: none;
    margin: 0;
    padding: 0
}

ul.progression-studios-staring-slider li {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0;
    width: 32px
}

ul.progression-studios-staring-slider li img {
    border-radius: 60px
}

.flexslider.progression-studios-dashboard-slider .circle-rating-pro {
    position: absolute;
    right: 20px;
    bottom: 0;
    z-index: 10
}

.flexslider.progression-studios-dashboard-slider .circle-rating-pro span {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 70px;
    width: 70px;
    text-align: center;
    font-size: 20px
}

a.progression-studios-slider-play-btn {
    z-index: 50;
    position: absolute;
    display: block;
    cursor: pointer;
    right: 18%;
    text-align: center;
    border-radius: 100px;
    top: 50%;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #fff;
    font-size: 36px;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, .05);
    box-shadow: 0 0 20px rgba(0, 0, 0, .15)
}

a.progression-studios-slider-play-btn i {
    position: relative;
    left: 3px
}

#content-sidebar-image {
    position: relative;
    text-align: center;
    margin-bottom: 35px
}

#content-sidebar-info {
    position: relative;
    text-align: center;
    margin-bottom: 45px
}

a.edit-profile-sidebar {
    text-align: center;
    z-index: 8;
    position: absolute;
    top: 14px;
    right: 14px;
    border-radius: 40px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    color: #fff;
    box-shadow: 0 2px 14px rgba(61, 177, 61, .4)
}

a.edit-profile-sidebar:hover {
    background: #9d9d9d
}

#profile-sidebar-name {
    padding-top: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3
}

#profile-sidebar-gradient {
    height: 90px;
    position: absolute;
    bottom: -2px;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 0) 0, rgba(250, 250, 250, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 0) 0, rgba(250, 250, 250, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0) 0, rgba(250, 250, 250, 1) 100%)
}

#profile-sidebar-name h5 {
    font-size: 19px;
    margin-bottom: 8px
}

#profile-sidebar-name h6 {
    color: #aaa;
    font-size: 14px;
    font-weight: 400
}

.content-sidebar-section {
    padding: 0 35px;
    margin-bottom: 42px
}

h2.content-sidebar-sub-header {
    font-size: 22px;
    margin-bottom: 20px
}

h2.content-sidebar-sub-header.adjusted-recent-reviews {
    font-size: 18px
}

h3.content-sidebar-sub-header {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .03em;
    margin-bottom: 20px
}

h4.content-sidebar-sub-header {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .03em;
    margin-bottom: 10px
}

.content-sidebar-short-description {
    font-size: 14px
}

ul#profile-watched-stats {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 100%
}

ul#profile-watched-stats li {
    margin: 0;
    padding: 16px 0;
    line-height: 1;
    display: table-cell;
    border: 1px solid #e2e2e2;
    color: #777;
    font-size: 12px
}

ul#profile-watched-stats span {
    font-size: 26px;
    display: block;
    font-weight: 700;
    padding-bottom: 4px
}

ul#profile-watched-stats li:first-child {
    border-right: none
}

ul#profile-watched-stats li:last-child {
    border-left: none
}

ul#friends-activity-profiles,
ul#profile-favorite-genres {
    list-style: none;
    margin: 0;
    padding: 0
}

ul#profile-favorite-genres li {
    float: left;
    margin: 0;
    width: 25%;
    padding: 0 5px
}

ul#friends-activity-profiles li {
    float: left;
    display: block;
    margin: 0 12px 0 0;
    padding: 0
}

ul#friends-activity-profiles li img {
    border-radius: 30px;
    width: 34px
}

ul#friends-activity-profiles li.friends-activity-profiles-more a {
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 11px;
    font-weight: 700;
    color: #fff
}

ul#friends-activity-feed,
ul#sidebar-reviews-pro {
    list-style: none;
    margin: 0;
    padding: 0
}

ul#friends-activity-feed li {
    line-height: 1.4;
    position: relative;
    font-size: 13px;
    color: #333;
    margin: 0 0 0 14px;
    padding: 0 0 30px 25px;
    border-left: 1px solid #e5e5e5
}

ul#friends-activity-feed li:last-child {
    padding-bottom: 10px
}

ul#friends-activity-feed li:after {
    position: absolute;
    content: "";
    display: block;
    width: 15px;
    background: #fafafa;
    height: 34px;
    top: -5px;
    left: -6px
}

ul#friends-activity-feed li img {
    position: absolute;
    z-index: 10;
    left: -14px;
    width: 24px;
    border-radius: 24px
}

ul#sidebar-reviews-pro li p {
    margin-bottom: 18px
}

ul#sidebar-reviews-pro li {
    margin: 0 0 20px;
    padding: 0;
    border-bottom: 1px dotted #d2d4d5;
    font-size: 13px;
    line-height: 1.6
}

ul#sidebar-reviews-pro li:last-child {
    border: none;
    margin-bottom: 30px
}

ul#sidebar-reviews-pro h6 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3px
}

ul#sidebar-reviews-pro .spoiler-review {
    text-transform: uppercase;
    font-size: 11px;
    padding: 0 0 4px
}

ul#sidebar-reviews-pro .sidebar-review-time {
    color: #858585;
    padding-bottom: 10px;
    font-size: 12px
}

#movie-detail-header-pro {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 84vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

#movie-detail-gradient-pro {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 260px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%)
}

#movie-detail-header-media {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
    padding: 0 0 30px
}

#movie-detail-header-media h5 {
    color: #fff;
    font-size: 21px;
    margin-bottom: 15px
}

a.movie-detail-media-link {
    display: block;
    color: #fff;
    text-align: center
}

a.movie-detail-media-link h6 {
    position: absolute;
    bottom: -2px;
    border-radius: 5px;
    margin: 0;
    width: 100%;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    padding: 20px 0 10px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .88) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .88) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .88) 100%)
}

.movie-detail-media-image span,
a.movie-detail-header-play-btn {
    display: block;
    top: 50%;
    background: rgba(0, 0, 0, .06);
    text-align: center
}

.movie-detail-media-image {
    position: relative;
    margin-bottom: 8px
}

.movie-detail-media-image span {
    z-index: 10;
    position: absolute;
    left: 50%;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin-left: -17px;
    margin-top: -17px;
    font-size: 12px;
    border-radius: 30px;
    border: 2px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15)
}

.movie-detail-media-image span i {
    position: relative;
    left: 1px
}

.movie-detail-media-image img {
    border-radius: 5px
}

a.movie-detail-header-play-btn {
    z-index: 50;
    position: absolute;
    cursor: pointer;
    left: 50%;
    border-radius: 100px;
    margin-top: -105px;
    margin-left: -55px;
    width: 110px;
    height: 110px;
    line-height: 110px;
    color: #fff;
    font-size: 46px;
    border: 3px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15)
}

a.movie-detail-header-play-btn i {
    position: relative;
    left: 3px
}

#movie-detail-header-pro .progression-studios-slider-more-options {
    float: right;
    cursor: pointer;
    margin: 0;
    position: relative;
    padding: 22px 22px 0 12px
}

#movie-detail-header-pro .progression-studios-slider-more-options i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
    border-radius: 60px;
    border: 2px solid #fff;
    color: #fff
}

#movie-detail-header-pro .progression-studios-slider-more-options ul {
    position: absolute;
    right: 100%;
    left: auto;
    top: 22px;
    width: 170px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, .06);
    border-radius: 5px;
    list-style: none;
    margin: 0;
    padding: 16px 0 0
}

#movie-detail-rating .circle-rating-pro,
#movie-detail-rating h6 {
    float: right;
    position: relative
}

#movie-detail-rating {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 45px;
    padding: 35px 0 25px
}

#movie-detail-rating h5 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 2px
}

#movie-detail-rating h6 {
    font-weight: 400;
    font-size: 14px;
    top: 12px;
    margin-left: 12px
}

#movie-detail-rating .circle-rating-pro span {
    line-height: 40px;
    width: 40px;
    text-align: center;
    font-size: 14px
}

.rating-pro {
    unicode-bidi: bidi-override;
    direction: rtl
}

.rating-pro input {
    position: absolute;
    left: -999999px
}

.rating-pro label {
    display: inline-block;
    font-size: 0;
    cursor: pointer
}

.rating-pro>label:before {
    position: relative;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    font-size: 15px;
    display: block;
    content: "\f005";
    color: #cacaca
}

.pricing-plans-page-container ul li,
.social-icon-login,
a.not-a-member-pro,
ul.checkmark-list-pro,
ul.dashboard-sub-menu li a,
ul.welcome-features li {
    font-family: Montserrat, sans-serif
}

.rating-pro>label.selected:before,
.rating-pro>label.selected~label:before,
.rating-pro>label:hover:before,
.rating-pro>label:hover~label:before {
    color: #3db13d;
    font-weight: 900
}

.movie-details-section {
    margin-bottom: 40px
}

.movie-details-section h2 {
    font-size: 24px;
    margin-bottom: 20px
}

.item-listing-text-skrn.item-listing-movie-casting {
    display: block;
    width: auto;
    text-align: center;
    padding: 20px 10px;
    height: auto
}

.item-listing-text-skrn.item-listing-movie-casting h6 {
    display: block;
    margin: 0 auto;
    float: none;
    width: auto
}

.movie-casting-sub-title {
    color: #999;
    font-size: 14px
}

ul.dashboard-sub-menu {
    list-style: none;
    margin: 35px 0 30px;
    padding: 0
}

ul.dashboard-sub-menu li {
    display: inline;
    padding: 0;
    margin: 0
}

ul.dashboard-sub-menu li a {
    margin: 0 40px 5px 0;
    display: inline-block;
    position: relative;
    color: #adadad;
    font-size: 16px;
    padding-bottom: 6px
}

.right-border-payment:after,
ul.dashboard-sub-menu li a:after {
    position: absolute;
    content: "";
    display: block
}

ul.dashboard-sub-menu li:last-child a {
    margin-right: 0
}

ul.dashboard-sub-menu li a:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0)
}

ul.dashboard-sub-menu li a:hover,
ul.dashboard-sub-menu li.current a {
    color: #333
}

#account-edit-photo {
    max-width: 300px;
    margin: 0 auto 45px;
    padding-right: 15px;
    text-align: center
}

#account-edit-photo img {
    border-radius: 5px
}

#account-edit-photo div {
    margin-bottom: 25px
}

#account-edit-photo p {
    margin-bottom: 12px
}

.account-settings-form .form-group {
    margin: 0 0 15px
}

.account-settings-form .form-group select.custom-select {
    height: 43px
}

.btn.btn-form {
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px
}

.account-settings-form .registration-genres-step {
    margin-top: 0;
    margin-bottom: 15px
}

.current-plan-account {
    padding-top: 15px
}

.current-plan-account h4 {
    font-size: 14px;
    letter-spacing: .1em
}

.current-plan-account h5 {
    font-size: 14px;
    font-weight: 400
}

.current-plan-account h2 {
    font-size: 50px;
    margin-bottom: 35px
}

.current-plan-account h2 sup {
    font-size: 17px;
    font-weight: 400;
    top: -22px;
    padding-right: 5px
}

.current-plan-account h2 span {
    font-size: 15px;
    color: #999;
    font-weight: 400
}

.current-plan-account .current-plan-billing {
    color: #999;
    font-weight: 400;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 10px
}

.current-plan-account ul {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
    font-size: 14px;
    color: #848484
}

.current-plan-account ul li {
    padding: 0;
    margin: 0 0 5px
}

.payment-method-container {
    margin-top: 25px;
    font-size: 14px;
    color: #777
}

.payment-method-container strong {
    color: #333
}

.payment-method-container img {
    width: 460px
}

.payment-method-container h5 {
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 20px
}

.payment-method-container h6 {
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 20px
}

.payment-method-container h5 sup {
    font-size: 11px;
    padding-left: 6px
}

.right-border-payment {
    padding-right: 40px
}

.right-border-payment:after {
    width: 1px;
    height: calc(100% - 40px);
    top: 0;
    right: 20px;
    background: rgba(0, 0, 0, .09)
}

#page-title-pro {
    text-align: center;
    padding: 80px 0;
    background: #fafafa;
    border-bottom: 1px solid rgba(0, 0, 0, .05)
}

#page-title-pro h1 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 38px
}

#page-title-pro h6 {
    display: block;
    width: 100%;
    font-weight: 400;
    color: rgba(0, 0, 0, .5);
    font-size: 17px
}

.short-border-bottom {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 26px
}

.short-border-bottom:after {
    position: absolute;
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background: #262626;
    bottom: 0
}

.mx-auto .short-border-bottom:after {
    left: 50%;
    margin-left: -20px
}

h1.light-weight-heading,
h2.light-weight-heading,
h3.light-weight-heading,
h4.light-weight-heading,
h5.light-weight-heading,
h6.light-weight-heading {
    font-weight: 400
}

.jumbotron-pro {
    border-radius: 8px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 20px;
    border: 2px solid #e9e9e9;
    background: #fff;
    position: relative
}

.jumbotron-pro [class*=" icon-"],
.jumbotron-pro [class^=icon-] {
    font-size: 45px
}

.jumbotron-pro h6 {
    padding-top: 10px;
    font-size: 14px
}

.centered-headings-pro {
    text-align: center
}

.centered-headings-pro h1,
.centered-headings-pro h2,
.centered-headings-pro h3,
.centered-headings-pro h4,
.centered-headings-pro h5,
.centered-headings-pro h6 {
    display: block;
    width: 100%
}

.pricing-plans-headings {
    margin: 15px 0
}

.pricing-plans-headings h6 {
    font-weight: 400;
    color: rgba(0, 0, 0, .5);
    font-size: 17px;
    margin-bottom: 15px
}

.pricing-plans-headings h1 {
    font-size: 32px
}

#pricing-plans-background-image {
    background-image: url(images/demo/signup-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 60px 0 120px;
    margin-bottom: -50px
}

.pricing-plans-page-container {
    border-radius: 6px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: -15px 26px 30px rgba(0, 0, 0, .09);
    text-align: center;
    max-width: 850px;
    margin: 0 auto
}

.pricing-plans-page-container .pricing-table-col {
    padding: 70px 20px 40px
}

.pricing-plans-page-container h6 {
    font-size: 13px;
    letter-spacing: .06em;
    margin-bottom: 25px
}

.pricing-plans-page-container h2 {
    font-size: 40px;
    margin-bottom: 25px
}

.pricing-plans-page-container h2 sup {
    font-size: 16px;
    font-weight: 400;
    top: -16px;
    padding-right: 5px
}

.pricing-plans-page-container h2 span {
    font-size: 12px;
    color: #999;
    font-weight: 400;
    letter-spacing: .02em
}

.pricing-plans-page-container ul {
    list-style: none;
    margin: 0 0 35px;
    padding: 0
}

.pricing-plans-page-container ul li {
    color: rgba(51, 51, 51, .65);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px
}

.registration-social-login-container {
    border-right: 1px solid #e4e4e4;
    width: calc(100% - 270px);
    float: left;
    position: relative;
    margin-bottom: 0;
    padding-right: 20px
}

.registration-social-login-or {
    position: absolute;
    top: 0;
    right: -22px;
    padding: 15px 0 12px;
    width: 40px;
    background: #fff;
    text-align: center;
    font-weight: 700
}

.registration-social-login-options {
    padding: 20px 20px 20px 40px;
    width: 270px;
    float: right
}

.registration-social-login-options h6 {
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
    margin: 32px 0 25px
}

.social-icon-login {
    cursor: pointer;
    background: #818181;
    border-color: #818181;
    color: #fff;
    border-radius: 4px;
    padding: 12px 15px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 13px;
    position: relative;
    text-align: center
}

.social-icon-login:hover {
    opacity: .8
}

.social-icon-login i {
    position: absolute;
    left: 18px;
    top: 17px
}

.social-icon-login.facebook-color {
    background: #3b5998
}

.social-icon-login.twitter-color {
    background: #55acee
}

.social-icon-login.google-color {
    background: #dd4b39;
    margin-bottom: 0
}

@media (min-width:992px) {
    .modal-md {
        max-width: 600px
    }
}

.modal-backdrop {
    background: #fff
}

.modal-backdrop.show {
    opacity: .85
}

.modal-dialog .modal-content {
    border: 1px solid rgba(0, 0, 0, .04);
    box-shadow: 0 26px 30px rgba(0, 0, 0, .09)
}

.modal-body-pro {
    padding: 0 60px 30px
}

button.close.float-close-pro {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 35px;
    z-index: 99
}

.modal-header-pro {
    padding: 40px 30px 0;
    text-align: center
}

.modal-header-pro h2 {
    font-size: 26px;
    margin-bottom: 12px
}

.modal-header-pro h6 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 15px
}

.checkbox-remember-pro,
.forgot-your-password {
    margin-top: -5px;
    font-size: 13px;
    color: #9d9d9d
}

.checkbox-remember-pro label {
    cursor: pointer
}

.checkbox-remember-pro input {
    margin-right: 6px
}

.forgot-your-password {
    text-align: right;
    position: relative;
    top: 5px
}

.forgot-your-password a {
    color: #9d9d9d
}

.forgot-your-password a:hover {
    color: #444
}

a.not-a-member-pro {
    display: block;
    padding: 12px 20px;
    background: #9d9d9d;
    text-align: center;
    color: #fff;
    letter-spacing: .02em
}

a.not-a-member-pro span {
    font-weight: 700
}

.modal-body-pro.social-login-modal-body-pro {
    padding-left: 20px;
    padding-right: 20px
}

.modal-body-pro .registration-social-login-container {
    width: calc(100% - 240px);
    padding-right: 20px
}

.modal-body-pro .registration-social-login-or {
    padding: 9px 0 12px;
    font-size: 14px
}

.modal-body-pro .registration-social-login-options {
    padding: 15px 20px 20px 40px;
    width: 240px;
    float: right
}

.modal-body-pro .registration-social-login-options h6 {
    margin: 0 0 18px;
    font-size: 14px
}

.modal-body-pro .social-icon-login {
    padding: 10px 15px;
    font-size: 12px;
    margin-bottom: 8px
}

.modal-body-pro .social-icon-login i {
    left: 15px;
    top: 14px
}

ul#registration-steps-pro {
    list-style: none;
    margin: 0;
    padding: 60px 0 100px
}

ul#registration-steps-pro li {
    float: left;
    margin: 0;
    width: 25%;
    border-bottom: 1px solid #d9d9d9
}

ul#registration-steps-pro li a {
    display: block;
    padding: 0 0 23px
}

.registration-step-circle-icon {
    position: relative;
    float: left;
    text-align: center;
    border-radius: 30px;
    font-weight: 700;
    font-size: 17px;
    background: #d9d9d9;
    color: #fff;
    width: 46px;
    height: 46px;
    line-height: 46px;
    margin-right: 15px
}

.registration-step-circle-icon:before {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -18px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #d9d9d9
}

.registration-step-number {
    color: rgba(0, 0, 0, .3);
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 3px
}

h5.registration-step-title {
    font-weight: 400;
    font-size: 14px
}

.registration-steps-page-container {
    border-radius: 6px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: -15px 26px 30px rgba(0, 0, 0, .09);
    max-width: 850px;
    margin: 0 auto
}

.registration-steps-page-container form.registration-steps-form {
    padding: 40px
}

.registration-steps-page-container .last-form-group-continue {
    margin-top: 15px
}

.registration-steps-page-container .last-form-group-continue .btn {
    float: left
}

.registration-steps-page-container .checkbox-remember-pro {
    margin-left: 20px;
    position: relative
}

.registration-steps-page-container .checkbox-remember-pro input {
    vertical-align: top;
    margin-top: 11px
}

.registration-steps-page-container .checkbox-remember-pro label {
    max-width: 345px
}

.registration-billing-form {
    padding: 60px
}

.jumbotron-pro i.fa-check-circle {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 18px
}

.registration-billing-form .jumbotron-pro {
    cursor: pointer
}

.registration-billing-form .jumbotron-pro img {
    margin-top: 10px;
    margin-bottom: 15px
}

.billing-form-pro {
    width: 100%;
    margin-top: -10px
}

.row.adjust-margin-top .form-group {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px
}

.registration-billing-form .btn {
    float: right
}

.billing-plan-container {
    float: left;
    margin-top: -4px
}

.billing-plan-container h5 {
    color: #adadad;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px
}

.billing-plan-container h5 a {
    text-decoration: underline
}

.billing-plan-container h3 {
    font-size: 20px;
    text-transform: uppercase
}

.billing-plan-container h3 .total {
    padding-right: 4px
}

.billing-plan-container h3 .duration {
    color: #adadad;
    font-size: 14px;
    font-weight: 400;
    text-transform: none
}

.registration-step-final-padding {
    padding: 60px
}

h2.registration-final-heading {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px
}

h2.registration-final-heading span {
    font-weight: 600
}

.registration-invite-friends-form .form-group {
    margin: 0
}

.form-group-invite-friends {
    margin-top: 25px;
    background: #fafafa;
    border-radius: 10px;
    padding: 30px
}

.form-group-invite-friends .registration-invite-friends-list {
    list-style: none;
    margin: 0;
    padding: 0 30px 0 0;
    max-height: 200px;
    overflow-y: scroll
}

ul.registration-invite-friends-list li {
    float: left;
    width: calc(33.3% - 8px);
    padding: 4px;
    margin: 4px;
    border: 2px solid transparent;
    border-radius: 4px;
    position: relative;
    cursor: pointer
}

ul.registration-invite-friends-list li img {
    float: left;
    border-radius: 30px;
    margin-right: 12px
}

ul.registration-invite-friends-list li h6 {
    font-weight: 400;
    margin: 4px 0 0;
    font-size: 13px
}

ul.registration-genres-choice li i,
ul.registration-invite-friends-list li i {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    font-size: 12px
}

ul.registration-genres-choice li i {
    font-size: 16px
}

ul.registration-genres-choice li.active i,
ul.registration-invite-friends-list li.active i {
    opacity: 1
}

ul.registration-invite-friends-list li .friends-social-media {
    font-size: 13px;
    color: rgba(0, 0, 0, .55)
}

.form-group-invite-friends::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    background-color: rgba(0, 0, 0, .06);
    border-radius: 4px
}

.form-group-invite-friends::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)
}

.registration-genres-step {
    margin-top: 40px
}

.registration-genres-step h5 {
    font-size: 17px;
    font-weight: 600
}

ul.registration-genres-choice {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none
}

ul.registration-genres-choice li {
    float: left;
    width: calc(16.5% - 10px);
    padding: 10px;
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 4px;
    position: relative;
    cursor: pointer
}

ul.registration-genres-choice li img {
    margin-bottom: 8px;
    width: 60px
}

ul.registration-genres-choice li h6 {
    font-size: 13px;
    font-weight: 400;
    color: #666;
    margin-bottom: 0
}

.registration-step-final-footer {
    margin-top: 35px;
    text-align: center
}

.registration-step-final-footer .btn {
    margin: 0 4px;
    padding: 13px 26px;
    font-size: 14px
}

.welcome-page-styles .pricing-plans-headings {
    margin-top: 0;
    margin-bottom: 30px
}

.welcome-page-styles h6.welcome-style-summary {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, .6);
    text-align: center;
    margin-bottom: 12px
}

.welcome-page-styles h3.welcome-plan-title {
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
    font-weight: 600
}

.welcome-page-styles h3.welcome-plan-title span {
    font-weight: 700
}

ul.welcome-features {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 460px
}

ul.welcome-features li {
    float: left;
    width: 50%;
    font-size: 13px;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 6px;
    padding: 0 0 0 26px;
    position: relative
}

ul.welcome-features li:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f00c";
    font-weight: 900;
    display: inline-block;
    position: absolute;
    left: 0
}

#search-mobile-nav-pro input:focus,
.form-group input:focus,
.form-group textarea:focus,
select.custom-select:focus {
    outline: 0;
    box-shadow: none
}

.form-group input,
.form-group textarea {
    border-color: #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px
}

.form-group {
    margin: 18px
}

.form-group::-webkit-input-placeholder {
    color: #aaa
}

.form-group::-moz-placeholder {
    color: #aaa
}

.form-group:-ms-input-placeholder {
    color: #aaa
}

.form-group:-moz-placeholder {
    color: #aaa
}

footer#footer-pro {
    border-top: 1px solid rgba(0, 0, 0, .09)
}

.copyright-text-pro {
    font-size: 14px;
    color: #868686;
    padding: 25px 0
}

footer#footer-pro ul.social-icons-pro {
    padding: 20px 0;
    text-align: right
}

#pro-scroll-top {
    display: block;
    position: fixed;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    z-index: 100;
    padding: 0;
    margin: 0;
    bottom: 0;
    right: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    background: rgba(0, 0, 0, .3);
    height: 31px;
    width: 42px;
    font-size: 12px
}

#pro-scroll-top:hover {
    height: 35px
}

#pro-scroll-top .fa-chevron-up {
    position: absolute;
    top: 10px;
    left: 16px
}

#pro-scroll-top.cd-is-visible {
    visibility: visible;
    opacity: 1
}

.progression-pricing-section-background {
    margin: -16px 0 -50px;
    padding: 20px 0 115px;
    background-image: url(images/demo/plans-background.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover
}

ul.checkmark-list-pro {
    color: #333;
    margin-left: 0;
    padding-left: 0
}

ul.checkmark-list-pro li {
    list-style: none;
    position: relative;
    padding-left: 26px;
    margin-bottom: 6px
}

ul.checkmark-list-pro li:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f00c";
    font-weight: 900;
    display: inline-block;
    position: absolute;
    left: 0
}

.pricing-table-pro {
    padding-top: 50px;
    text-align: center
}

.pricing-table-pro .pricing-table-col {
    border-radius: 10px;
    padding: 65px 0 44px;
    margin: 0 20px;
    background: #fff;
    box-shadow: 0 15px 30px rgba(255, 255, 255, .8);
    border: 1px solid transparent
}

.pricing-table-pro .pricing-table-col-shadow-pro {
    box-shadow: 0 26px 30px rgba(0, 0, 0, .09);
    border-color: rgba(0, 0, 0, .05)
}

.pricing-table-pro h6 {
    font-size: 14px;
    letter-spacing: .06em;
    margin-bottom: 25px
}

.pricing-table-pro h2 {
    font-size: 50px;
    margin-bottom: 25px;
    color: #3db13d
}

.pricing-table-pro h2 sup {
    font-size: 18px;
    font-weight: 400;
    top: -20px;
    padding-right: 6px
}

.pricing-table-pro h2 span {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    letter-spacing: .02em
}

.pricing-table-pro ul {
    list-style: none;
    margin: 0 0 35px;
    padding: 0
}

.pricing-table-pro ul li {
    color: rgba(51, 51, 51, .65);
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin-bottom: 10px
}

.flexslider.progression-studios-slider {
    background: #fafafa;
    height: 650px
}

.progression-studios-slider-image-background {
    height: 650px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.progression-studios-slider-mobile-background-cover,
.progression-studios-slider-mobile-background-cover-dark {
    background: rgba(238, 238, 238, .65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.progression-studios-slider-mobile-background-cover-dark {
    background: rgba(14, 12, 17, .6)
}

.flexslider.progression-studios-slider:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, .05)
}

.progression-studios-slider-display-table {
    display: table;
    width: 100%;
    height: 100%
}

.progression-studios-slider-vertical-align {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.progression-studios-slider-caption-width {
    max-width: 380px;
    position: relative;
    z-index: 10
}

.progression-studios-slider-caption-width h2 {
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 20px
}

.progression-studios-slider-caption-width h6 {
    line-height: 1.7;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, .6)
}

.btn-slider-pro {
    font-size: 14px;
    margin-bottom: 25px;
    padding: 14px 22px
}

.flex-container a:focus,
.flex-container a:hover,
.flex-slider a:focus,
.flex-slider a:hover {
    outline: 0
}

.flex-control-nav,
.flex-direction-nav,
.slides,
.slides>li {
    margin: 0;
    padding: 0;
    list-style: none
}

.flex-pauseplay span {
    text-transform: capitalize
}

.flexslider {
    padding: 0;
    margin: 0;
    background: 0 0;
    border: none;
    position: relative;
    zoom: 1;
    -webkit-transform: translateZ(0)
}

.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden
}

.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

html[xmlns] .flexslider .slides {
    display: block
}

* html .flexslider .slides {
    height: 1%
}

.no-js .flexslider .slides>li:first-child {
    display: block
}

.flexslider .slides {
    zoom: 1
}

.flexslider .slides img {
    width: 100%;
    display: block;
    height: auto
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.loading .flex-viewport {
    max-height: 300px
}

.carousel li {
    margin-right: 5px
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    text-align: center;
    border: none;
    margin: -20px 0 0;
    font-size: 24px;
    width: 45px;
    line-height: 40px;
    height: 40px;
    color: #bbb;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .02)
}

.flexslider .flex-direction-nav a {
    transition-duration: 250ms;
    transition-property: all;
    transition-timing-function: ease-in-out
}

.flexslider:hover .flex-direction-nav a {
    top: 50%;
    opacity: 1
}

.flexslider .flex-direction-nav a:hover {
    opacity: .7
}

.flex-direction-nav a.flex-prev:before {
    content: "\f053";
    position: relative;
    left: -1px
}

.flex-direction-nav a.flex-next:before {
    content: "\f054";
    position: relative;
    right: -1px
}

.flex-direction-nav .flex-prev {
    left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.flex-direction-nav .flex-next {
    right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default
}

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: .8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000
}

.flex-pauseplay a:before {
    font-family: flexslider-icon;
    font-size: 20px;
    display: inline-block;
    content: '\f004'
}

.flex-pauseplay a:hover {
    opacity: 1
}

.flex-pauseplay a.flex-play:before {
    content: '\f003'
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;
    z-index: 10
}

.flex-control-nav li {
    margin: 0;
    display: inline-block;
    zoom: 1;
    position: relative
}

.flex-control-paging li {
    width: 20px;
    height: 10px;
    text-align: center
}

.flex-control-paging li a {
    width: 7px;
    height: 7px;
    bottom: 0;
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    position: absolute;
    background: 0 0;
    border: 2px solid #ddd;
    border-radius: 15px
}

.flex-control-paging li a.flex-active {
    cursor: default
}

body .flex-control-paging * {
    box-sizing: content-box
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0
}

.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.flex-control-thumbs img:hover {
    opacity: 1
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default
}

header#videohead-pro #mobile-bars-icon-pro {
    margin-right: 0;
    padding: 36px 25px
}

ul#mobile-menu-pro [class*=" icon-"],
ul#mobile-menu-pro [class^=icon-] {
    font-size: 22px;
    display: inline-block;
    width: 30px;
    position: relative
}

ul#mobile-menu-pro [class*=" icon-"]:before,
ul#mobile-menu-pro [class^=icon-]:before {
    position: absolute;
    top: -17px
}

ul#mobile-menu-pro i {
    width: 30px;
    margin-bottom: -10px;
    font-size: 18px;
    text-align: center
}

ul#mobile-menu-pro span.user-notification-count {
    right: auto;
    top: 12px;
    left: 34px
}

#mobile-bars-icon-pro {
    float: right;
    line-height: 1;
    color: #272727;
    font-size: 18px;
    padding: 34px 30px;
    cursor: pointer;
    margin-right: -15px;
    display: none
}

#mobile-bars-icon-pro i.fa-bars {
    min-width: 18px;
    text-align: center
}

.active-mobile-icon-pro #mobile-bars-icon-pro i.fa-bars:before {
    content: "\f00d"
}

header#masthead-pro #mobile-navigation-pro {
    border-top: 1px solid rgba(0, 0, 0, .07)
}

#mobile-navigation-pro {
    display: none;
    line-height: 1;
    position: relative;
    z-index: 20;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .05);
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: .04em
}

ul#mobile-menu-pro li a {
    line-height: 1;
    color: #272727;
    font-size: 13px;
    padding: 20px
}

.btn.btn-mobile-pro {
    display: block;
    width: 100%;
    border: none;
    border-radius: 0
}

.btn.btn-mobile-pro.btn-green-pro {
    margin-bottom: -1px
}

@media only screen and (min-width:960px) {
    #mobile-navigation-pro {
        display: none!important
    }
}

.menu-collapser {
    display: none!important
}

ul#mobile-menu-pro {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block!important;
    overflow: hidden;
    width: 100%
}

ul#mobile-menu-pro li {
    position: relative;
    margin: 0;
    padding: 0
}

ul#mobile-menu-pro li li a {
    padding-left: 30px
}

ul#mobile-menu-pro li li li a {
    padding-left: 35px
}

ul#mobile-menu-pro li li li li a {
    padding-left: 40px
}

ul#mobile-menu-pro a i {
    padding-right: 4px
}

ul#mobile-menu-pro li .sub-collapser {
    background: 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    text-align: center;
    z-index: 999;
    cursor: pointer;
    height: 53px
}

ul#mobile-menu-pro.collapsed li .sub-collapser:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 13px;
    border: none;
    content: "\f107";
    text-align: center;
    line-height: 53px;
    width: 50px;
    background: #f2f2f2
}

ul#mobile-menu-pro.collapsed li .sub-collapser.expanded {
    transform: rotate(180deg)
}

ul#mobile-menu-pro li .sub-collapser>i {
    display: none
}

ul#mobile-menu-pro li ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0
}

ul#mobile-menu-pro li ul li {
    background: #f2f2f2
}

ul#mobile-menu-pro li>ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%
}

ul#mobile-menu-pro li>ul>li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%
}

ul#mobile-menu-pro li {
    display: block;
    width: 100%;
    box-sizing: border-box
}

ul#mobile-menu-pro li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    box-sizing: border-box
}

ul#mobile-menu-pro.collapsed li>ul {
    display: none;
    position: static
}

ul.social-icons-pro {
    list-style: none;
    margin: 0;
    padding: 0
}

ul.social-icons-pro li {
    display: inline;
    margin: 0;
    padding: 0
}

ul.social-icons-pro li:last-child a {
    margin-right: 0
}

ul.social-icons-pro li a {
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    margin: 0 4px;
    border: 2px solid rgba(0, 0, 0, .08);
    width: 34px;
    height: 34px;
    line-height: 32px;
    font-size: 12px;
    color: #818181
}

ul.social-icons-pro li a:hover {
    background: #818181;
    border-color: #818181;
    color: #fff
}

ul.social-icons-pro li.facebook-color a {
    color: #3b5998
}

ul.social-icons-pro li.facebook-color a:hover {
    background: #3b5998;
    border-color: #3b5998;
    color: #fff
}

ul.social-icons-pro li.google-color a {
    color: #dd4b39
}

ul.social-icons-pro li.google-color a:hover {
    background: #dd4b39;
    border-color: #dd4b39;
    color: #fff
}

ul.social-icons-pro li.linkedin-color a {
    color: #007bb5
}

ul.social-icons-pro li.linkedin-color a:hover {
    background: #007bb5;
    border-color: #007bb5;
    color: #fff
}

ul.social-icons-pro li.twitter-color a {
    color: #55acee
}

ul.social-icons-pro li.twitter-color a:hover {
    background: #55acee;
    border-color: #55acee;
    color: #fff
}

ul.social-icons-pro li.youtube-color a {
    color: red
}

ul.social-icons-pro li.youtube-color a:hover {
    background: red;
    border-color: red;
    color: #fff
}

ul.social-icons-pro li.vimeo-color a {
    color: #aad450
}

ul.social-icons-pro li.vimeo-color a:hover {
    background: #aad450;
    border-color: #aad450;
    color: #fff
}

ul.social-icons-pro li.instagram-color a {
    color: #e95950
}

ul.social-icons-pro li.instagram-color a:hover {
    background: #e95950;
    border-color: #e95950;
    color: #fff
}

.btn,
.form-group input,
.form-group textarea,
a {
    transition-duration: 250ms;
    transition-property: color, background-color, border;
    transition-timing-function: ease-in-out
}

.btn {
    transition-duration: .3s
}

#header-user-notification-click,
#header-user-profile-click,
#mobile-bars-icon-pro,
#pro-scroll-top,
#search-icon-more,
#search-mobile-nav-pro input,
.checkbox-pro-container input~.checkmark-pro,
.jumbotron-pro,
.progression-studios-slider-more-options i,
.sf-menu a:before,
.social-icon-login,
button.close,
ul#registration-steps-pro li,
ul.registration-genres-choice li,
ul.registration-genres-choice li i,
ul.registration-invite-friends-list li,
ul.registration-invite-friends-list li i {
    transition-duration: 250ms;
    transition-property: all;
    transition-timing-function: ease-in-out
}

.sf-menu a {
    transition-duration: 250ms;
    transition-property: padding-top, padding-bottom, color, background-color, width;
    transition-timing-function: ease-in-out
}

.example-no-css3 {
    -webkit-transition-duration: 0s!important;
    -moz-transition-duration: 0s!important;
    -o-transition-duration: 0s!important;
    transition-duration: 0s!important
}

@keyframes ProgressionMoveUp {
    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes ProgressionMoveOut {
    from {
        visibility: visible;
        opacity: 1
    }
    to {
        opacity: 0;
        visibility: hidden
    }
}

li.sfHover ul.sub-menu {
    transform: translateY(20px);
    opacity: 0;
    animation-duration: 250ms;
    animation-name: ProgressionMoveUp;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards
}

#header-user-notification-menu,
#header-user-profile-menu,
#video-search-header-filtering,
.progression-studios-slider-more-options ul {
    opacity: 0;
    visibility: hidden
}

#header-user-notification.hide #header-user-notification-menu,
#header-user-profile.hide #header-user-profile-menu,
#video-search-header.hide #video-search-header-filtering,
.progression-studios-slider-more-options.hide ul {
    animation-duration: .2s;
    animation-name: ProgressionMoveOut;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-top: 50px;
    margin-left: -200px;
}

#header-user-notification.active #header-user-notification-menu,
#header-user-profile.active #header-user-profile-menu,
.progression-studios-slider-more-options.active ul {
    transform: translateY(20px);
    opacity: 0;
    visibility: visible;
    animation-duration: 250ms;
    animation-name: ProgressionMoveUp;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-top: 50px;
    margin-left: -200px;
}
#video-search-header.hide #video-search-header-filtering{
    animation-duration: .2s;
    animation-name: ProgressionMoveOut;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
        margin-left: -19px;
    margin-top: 1px;
}
#video-search-header.active #video-search-header-filtering{
    transform: translateY(20px);
    opacity: 0;
    visibility: visible;
    animation-duration: 250ms;
    animation-name: ProgressionMoveUp;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
        margin-left: -19px;
    margin-top: 1px;
}

.progression_studios_animate_down .progression-studios-slider-caption-align,
.progression_studios_animate_in .progression-studios-slider-caption-align,
.progression_studios_animate_left .progression-studios-slider-caption-align,
.progression_studios_animate_out .progression-studios-slider-caption-align,
.progression_studios_animate_right .progression-studios-slider-caption-align,
.progression_studios_animate_up .progression-studios-slider-caption-align {
    animation-delay: .5s;
    animation-duration: .8s;
    opacity: 0;
    animation-fill-mode: both
}

li.flex-active-slide.progression_studios_animate_in .progression-studios-slider-caption-align {
    animation-name: ProgressionStudiosElementszoomup
}

li.flex-active-slide.progression_studios_animate_out .progression-studios-slider-caption-align {
    animation-name: ProgressionStudiosElementszoomout
}

li.flex-active-slide.progression_studios_animate_up .progression-studios-slider-caption-align {
    animation-name: ProgressionStudiosElementsfadeup
}

li.flex-active-slide.progression_studios_animate_down .progression-studios-slider-caption-align {
    animation-name: ProgressionStudiosElementsfadedown
}

li.flex-active-slide.progression_studios_animate_left .progression-studios-slider-caption-align {
    animation-name: ProgressionStudiosElementsfadeleft
}

li.flex-active-slide.progression_studios_animate_right .progression-studios-slider-caption-align {
    animation-name: ProgressionStudiosElementsfaderight
}

@keyframes ProgressionStudiosElementsfadeup {
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes ProgressionStudiosElementsfadedown {
    0% {
        opacity: 0;
        transform: translate3d(0, -20%, 0)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes ProgressionStudiosElementsfadeleft {
    0% {
        opacity: 0;
        transform: translate3d(10%, 0, 0)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes ProgressionStudiosElementsfaderight {
    0% {
        opacity: 0;
        transform: translate3d(-10%, 0, 0)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes ProgressionStudiosElementszoomup {
    0% {
        opacity: 0;
        transform: scale(1.2)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes ProgressionStudiosElementszoomout {
    0% {
        opacity: 0;
        transform: scale(.8)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@media only screen and (min-width:959px) and (max-width:1100px) {
    .col-sm.extra-padding {
        padding-right: 15px;
        padding-left: 15px;
        position: relative
    }
    ul.dashboard-genres-pro {
        padding-right: 20px;
        padding-left: 20px
    }
    ul.dashboard-genres-pro li {
        float: left;
        width: 16.6%
    }
    ul.dashboard-genres-pro li h6 {
        font-size: 11px
    }
    .dashboard-container {
        padding: 0 40px
    }
    .progression-studios-slider-dashboard-caption-width {
        max-width: 450px
    }
    a.progression-studios-slider-play-btn {
        right: 10%
    }
    ul.dashboard-sub-menu li a {
        font-size: 15px;
        margin: 0 10px 5px
    }
    #content-sidebar-pro,
    #content-sidebar-pro:after {
        width: 260px
    }
    main#col-main-with-sidebar {
        margin-left: 420px
    }
}

@media only screen and (min-width:768px) and (max-width:959px) {
    #header-user-notification,
    #masthead-pro .btn-header-pro,
    #sidebar-bg:after,
    #sidebar-bg:before,
    #site-navigation-pro,
    #video-logo-background:after,
    #video-logo-background:before,
    #video-search-header,
    nav#sidebar-nav {
        display: none
    }
    #mobile-bars-icon-pro {
        display: block
    }
    #header-user-profile-click {
        padding-right: 15px
    }
    #header-user-profile-menu {
        right: -5px
    }
    main#col-main {
        margin-left: 0
    }
    #content-sidebar-pro {
        margin-left: 0;
        width: 260px
    }
    #content-sidebar-pro:after {
        left: 0;
        width: 260px
    }
    main#col-main-with-sidebar {
        margin-left: 260px
    }
    #page-title-pro h1 {
        font-size: 32px
    }
    #page-title-pro h6 {
        font-size: 15px
    }
    ul#registration-steps-pro li {
        width: 50%;
        margin-bottom: 25px
    }
    .modal-body-pro .registration-social-login-container,
    .registration-social-login-container {
        border-right: 0;
        width: 100%;
        padding-right: 0
    }
    .modal-body-pro .registration-social-login-or,
    .registration-social-login-or {
        position: relative;
        text-align: center;
        font-size: 20px;
        width: 100%;
        padding: 0;
        right: 0
    }
    .modal-body-pro .registration-social-login-options,
    .registration-social-login-options {
        padding-left: 20px;
        width: 100%
    }
    .registration-social-login-options h6 {
        margin-top: 0
    }
    ul.registration-invite-friends-list li {
        width: calc(49.5% - 8px)
    }
    .progression-studios-slider-caption-width {
        max-width: 310px
    }
    .progression-studios-slider-caption-width h2 {
        font-size: 39px;
        margin-bottom: 15px
    }
    .progression-studios-slider-caption-width h6 {
        font-size: 15px;
        margin-bottom: 25px
    }
    ul.dashboard-genres-pro {
        padding-right: 20px;
        padding-left: 20px
    }
    ul.dashboard-genres-pro li {
        float: left;
        width: 16.6%
    }
    ul.dashboard-genres-pro li h6 {
        font-size: 11px
    }
    .dashboard-container {
        padding: 0 20px
    }
    a.progression-studios-slider-play-btn {
        right: 8%
    }
    .progression-studios-slider-dashboard-caption-width {
        max-width: 400px
    }
    .flexslider.progression-studios-dashboard-slider h6 {
        font-size: 14px;
        margin-bottom: 16px
    }
    ul.progression-studios-slider-rating {
        margin: 0 0 5px
    }
    ul.progression-studios-slider-rating li {
        padding: 5px;
        font-size: 10px
    }
    .flexslider.progression-studios-dashboard-slider h2 {
        font-size: 40px
    }
    ul.progression-studios-slider-meta {
        margin: 0 0 10px
    }
    ul.progression-studios-slider-meta li {
        font-size: 13px
    }
    p.progression-studios-slider-description {
        font-size: 13px;
        margin-bottom: 20px
    }
}

@media only screen and (max-width:767px) {
    #content-sidebar-pro:after,
    #header-user-notification,
    #header-user-profile #header-username,
    #masthead-pro .btn-header-pro,
    #sidebar-bg:after,
    #sidebar-bg:before,
    #site-navigation-pro,
    #video-logo-background:after,
    #video-logo-background:before,
    #video-search-header,
    nav#sidebar-nav {
        display: none
    }
    .billing-plan-container,
    .registration-billing-form .btn,
    .registration-steps-page-container .last-form-group-continue .btn {
        float: none
    }
    .flexslider.progression-studios-dashboard-slider,
    .flexslider.progression-studios-dashboard-slider.progression-studios-full-height-slider,
    .progression-studios-full-height-slider .progression-studios-slider-dashboard-image-background,
    .progression-studios-slider-dashboard-image-background {
        min-height: 640px
    }
    #mobile-bars-icon-pro {
        display: block
    }
    #header-user-profile-click {
        padding-right: 0
    }
    #header-user-profile img {
        margin-right: 0
    }
    #header-user-profile-menu {
        right: 0
    }
    main#col-main,
    main#col-main-with-sidebar {
        margin-left: 0
    }
    #content-sidebar-pro {
        margin-left: 0;
        width: 100%;
        margin-bottom: 40px
    }
    #page-title-pro h1 {
        font-size: 26px
    }
    #page-title-pro h6 {
        font-size: 14px
    }
    .copyright-text-pro,
    footer#footer-pro ul.social-icons-pro {
        text-align: center
    }
    footer#footer-pro ul.social-icons-pro li:last-child a {
        margin-right: 4px
    }
    footer#footer-pro ul.social-icons-pro {
        padding-top: 0
    }
    ul#registration-steps-pro li {
        width: 100%;
        margin-bottom: 20px
    }
    .registration-steps-page-container .checkbox-remember-pro {
        display: block;
        margin-top: 20px;
        margin-left: 0
    }
    #movie-detail-header-media,
    .flexslider.progression-studios-dashboard-slider .circle-rating-pro,
    a.progression-studios-slider-play-btn {
        display: none
    }
    .registration-steps-page-container .checkbox-remember-pro input {
        position: absolute
    }
    .registration-steps-page-container .checkbox-remember-pro label {
        margin-left: 26px
    }
    .modal-body-pro .registration-social-login-container,
    .registration-social-login-container {
        border-right: 0;
        width: 100%;
        padding-right: 0
    }
    .modal-body-pro .registration-social-login-or,
    .registration-social-login-or {
        position: relative;
        text-align: center;
        font-size: 20px;
        width: 100%;
        padding: 0;
        right: 0
    }
    .modal-body-pro .registration-social-login-options,
    .registration-social-login-options {
        padding-left: 20px;
        width: 100%
    }
    .registration-social-login-options h6 {
        margin-top: 0
    }
    .registration-steps-page-container form.registration-steps-form {
        padding: 0
    }
    .form-group-invite-friends,
    .registration-billing-form,
    .registration-step-final-padding {
        padding: 20px
    }
    .pricing-plans-page-container .pricing-table-col {
        padding-right: 0;
        padding-left: 0
    }
    .billing-plan-container {
        margin-bottom: 25px
    }
    ul.registration-invite-friends-list li {
        width: calc(99% - 8px)
    }
    ul.registration-genres-choice li {
        width: calc(33.3% - 10px)
    }
    ul.welcome-features li {
        width: 100%
    }
    .progression-studios-slider-mobile-background-cover,
    .progression-studios-slider-mobile-background-cover-dark {
        opacity: 1
    }
    .flexslider.progression-studios-slider,
    .progression-studios-slider-image-background {
        height: 580px
    }
    .progression-studios-slider-caption-width {
        width: 85%;
        margin: 0 auto;
        text-align: center
    }
    .progression-studios-slider-caption-width h2 {
        font-size: 34px;
        margin-bottom: 12px
    }
    .progression-studios-slider-caption-width h6 {
        font-size: 13px;
        margin-bottom: 20px
    }
    .btn-slider-pro {
        font-size: 13px;
        padding: 11px 18px
    }
    ul.dashboard-genres-pro {
        padding-right: 0;
        padding-left: 0
    }
    ul.dashboard-genres-pro li {
        float: left;
        width: 33.2%
    }
    .dashboard-container {
        padding: 0 20px
    }
    .progression-studios-slider-dashboard-caption-width {
        max-width: 100%;
        margin-left: 0
    }
    .flexslider.progression-studios-dashboard-slider h6 {
        font-size: 13px;
        margin-bottom: 14px
    }
    ul.progression-studios-slider-rating {
        margin: 0 0 5px
    }
    ul.progression-studios-slider-rating li {
        margin: 0 7px 5px 0;
        padding: 6px;
        font-size: 10px
    }
    .flexslider.progression-studios-dashboard-slider h2 {
        font-size: 34px;
        margin-bottom: 5px
    }
    ul.progression-studios-slider-meta {
        margin: 0 0 10px
    }
    ul.progression-studios-slider-meta li {
        font-size: 12px
    }
    ul.progression-studios-slider-meta li:after {
        padding: 0 10px
    }
    p.progression-studios-slider-description {
        font-size: 13px;
        margin-bottom: 20px
    }
    .progression-studios-dashboard-slider .btn-slider-pro {
        margin-right: 10px
    }
    .progression-studios-slider-more-options i {
        height: 44px;
        width: 44px;
        line-height: 44px;
        font-size: 12px
    }
    .progression-studios-slider-more-options ul {
        top: 100%;
        left: -65px
    }
    .flexslider.progression-studios-dashboard-slider h5 {
        font-size: 13px;
        margin-top: 6px;
        margin-bottom: 12px
    }
    #account-edit-photo {
        padding: 0
    }
    ul.dashboard-sub-menu {
        text-align: center
    }
    ul.dashboard-sub-menu li a {
        margin: 0 10px 5px;
        font-size: 15px
    }
    .right-border-payment {
        padding-right: 0;
        padding-bottom: 50px
    }
    .right-border-payment:after {
        top: auto;
        right: 0;
        width: 100%;
        height: 1px;
        bottom: 35px
    }
    #movie-detail-rating h6 {
        float: left;
        margin-left: 0;
        margin-right: 12px
    }
    #movie-detail-rating .circle-rating-pro {
        float: left
    }
}