
.css-tw53s2 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 390px;
    padding: 0px 20px 0px 64px;
}
.css-dvxtzn {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.css-kin6tl {
    display: inline-block;
    position: relative;
    height: 300px;
    width: 200px;
    min-width: 200px;
}

.css-1pvfjfm {
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.css-1pvfjfm > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.css-t6u4zk {
    contain: strict;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 50, 57, 0.8);
    overflow: hidden;
}

.css-b4kcmh {
    position: absolute;
    width: 100%;
    height: 100%;
}
.css-b4kcmh {
    position: absolute;
    width: 100%;
    height: 100%;
}

.css-1sz776d {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 350ms;
    transition-duration: 350ms;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.css-1sz776d {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 350ms;
    transition-duration: 350ms;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.css-1cs4y7l {
    transition: opacity 200ms ease-in 30ms;
    opacity: 1;
}

.css-41o9dd {
    margin-top: 20px;
    text-align: center;
}

.css-r0jte9 {
    transition: background 100ms ease 0s, opacity 100ms ease 0s;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1;
    color: rgb(8, 17, 24);
    background: linear-gradient(145deg, rgb(0, 225, 140), rgb(0, 227, 106));
    border-radius: 24px;
    font-family: ProximaNova-Bold, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 16px 20px;
    min-width: 170px;
    height: 48px;
    width: 228px;
}
.css-41o9dd {
    margin-top: 20px;
    text-align: center;
}

.css-1r3rn3f {
    min-width: 228px;
    height: 48px;
    border-radius: 24px;
    background-color: rgb(57, 58, 59);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.css-16n5v6q {
    width: 183px;
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    opacity: unset;
}

.css-1jw3688 {
    display: inline-block;
    margin-left: 72px;
    vertical-align: top;
    max-width: 672px;
    width: 672px;
}

.css-of585f {
    font-size: 40px;
    line-height: 1;
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
}

.css-1cs4y7l {
    transition: opacity 200ms ease-in 30ms;
    opacity: 1;
}
.css-j3mou7 {
    position: relative;
    margin-bottom: 0px;
}
.css-1etyymi {
    transition: background 100ms ease 0s, opacity 100ms ease 0s;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    font-size: 16px;
    padding: 8px 32px;
    color: rgb(255, 255, 255);
    margin: 0px 16px 15px 0px;
    white-space: nowrap;
}
.css-17482bi {
    position: relative;
    top: 0px;
    margin-right: 7px;
    font-size: 0.8em;
    transform: none;
    display: inline;
}
[class*=" icon-"], [class^=icon-] {
    font-family: reelgood-icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.css-pd7q5p {
    opacity: 0;
    z-index: 3;
    text-align: center;
    white-space: normal;
    pointer-events: none;
    transition: opacity 120ms ease 0s;
    position: absolute;
    max-width: 140px;
    padding: 16px 20px;
    box-sizing: content-box;
    background-color: rgb(44, 48, 52);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.6) 2px 8px 14px 0px;
    top: 40px;
    left: -20px;
}
.css-5y4ld6 {
    font-family: 'ProximaNova-Bold',Arial,sans-serif;
    margin-bottom: 10px;
    font-size: 15px;
    color: white;
    line-height: 1.1;
}
.css-5y4ld6 {
    font-family: 'ProximaNova-Bold',Arial,sans-serif;
    margin-bottom: 10px;
    font-size: 15px;
    color: white;
    line-height: 1.1;
}
.css-1hknzz6 {
    -webkit-transition: background 100ms,opacity 100ms;
    transition: background 100ms,opacity 100ms;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1;
    color: #fff;
    background: rgba(255,255,255,0.16);
    border-radius: 16px;
    font-size: 16px;
    padding: 8px 32px;
    color: #fff;
    margin: 6px 0;
    width: 100%;
}

.css-omf9uz {
    background: none;
    outline: none;
    border: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    margin-top: 6px;
    cursor: pointer;
}
.css-omf9uz {
    background: none;
    outline: none;
    border: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    margin-top: 6px;
    cursor: pointer;
}
.css-1etyymi {
    transition: background 100ms ease 0s, opacity 100ms ease 0s;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    font-size: 16px;
    padding: 8px 32px;
    color: rgb(255, 255, 255);
    margin: 0px 16px 15px 0px;
    white-space: nowrap;
}

.css-17482bi {
    position: relative;
    top: 0px;
    margin-right: 7px;
    font-size: 0.8em;
    transform: none;
    display: inline;
}

.css-1in9gj1 {
    display: inline-block;
}

.css-1cfuywu {
    transition: background 100ms ease 0s, opacity 100ms ease 0s;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1;
    background: rgba(255, 255, 255, 0.16);
    color: rgb(255, 255, 255);
    margin: 0px 0px 15px;
    white-space: nowrap;
    width: 100px;
    padding: 8px 24px;
    border-radius: 16px 0px 0px 16px;
    font-size: 16px;
}

.css-1cfuywu img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.css-1cfuywu img, .css-1cfuywu amp-img {
    height: 11px;
    margin-right: 8px;
    position: relative;
    top: 1px;
    display: inline-block;
}

.css-1evt9it {
    position: relative;
    margin: 8px 0px 20px;
    display: inline-block;
}

.css-1a5pxnv {
    position: absolute;
    top: -7px;
    right: -7px;
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    z-index: 1;
}

.css-bvue44 {
    overflow: hidden;
    position: relative;
    padding: 15px;
    width: auto;
    border-radius: 8px;
    color: rgb(8, 17, 24);
    cursor: pointer;
}

.css-bvue44::before {
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
    margin: -17px;
    padding: inherit;
    border-radius: 38%;
    box-shadow: rgba(255, 255, 255, 0.72) 0px 0px 0px 500px;
    content: "";
}

.css-194cccn {
    position: relative;
    margin: 8px 0px 20px;
    display: inline-block;
    max-width: 91vw;
}

.css-1a5pxnv {
    position: absolute;
    top: -7px;
    right: -7px;
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    z-index: 1;
}
.css-1a5pxnv img {
    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 26px;
}

.css-1fwg2l8 {
    overflow: hidden;
    position: relative;
    padding: 15px;
    width: auto;
    border-radius: 8px;
    text-align: left;
    color: rgb(8, 17, 24);
}
.css-185c34z {
    font-size: 16px;
    color: rgb(8, 17, 24);
}
.css-oilf53 {
    margin-top: 16px;
    display: flex;
    overflow: hidden;
    flex-flow: row wrap;
    height: 180px;
    text-align: left;
}

.css-oilf53 > a {
    margin-right: 12px;
}
.css-79elbk {
    position: relative;
}

.css-a0zxji {
    contain: strict;
    background-color: rgba(43, 50, 57, 0.8);
    overflow: hidden;
    transition: filter 100ms ease 0s;
    position: relative;
    width: 120px;
    height: 180px;
}


.css-a0zxji picture {
    left: 0px;
}
.css-b4kcmh {
    position: absolute;
    width: 100%;
    height: 100%;
}

.css-yzelun {
    position: absolute;
    top: 4px;
    right: 4px;
    margin: 0px;
    width: 24px;
    height: 16px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.css-1ss0qk {
    margin-bottom: 8px;
    display: flex;
    flex-flow: row wrap;
}

.css-ee2w7g {
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    margin-right: 22px;
    white-space: nowrap;
    display: inline-block;
}
.css-1n2mv2k {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

 .css-cl7hpe {
    height: 15px;
    width: 32px;
    margin-right: 3px;
}
.css-kasron {
    width: 15px;
    height: 14px;
    margin-right: 4px;
    margin-bottom: 1px;
}
.css-xmin1q {
    font-family: ProximaNova-Bold, Arial, sans-serif;
    font-size: 15px;
}

.css-ee2w7g:last-child {
    margin-right: 0px;
}

.css-1aduz4h {
    width: 100%;
    max-width: 770px;
    position: relative;
    margin: 0px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    white-space: normal;
}
.css-1o9eplr {
    position: relative;
    padding-bottom: 24px;
}

.css-zzy0ri {
    will-change: max-height;
    transition: max-height 200ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    overflow: hidden;
    white-space: pre-wrap;
}

.css-152d8e4 {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
    transition: opacity 150ms ease-in-out 0s;
    will-change: opacity;
    border: none;
    background: transparent;
    outline: none;
    font-weight: inherit;
    padding: 0px;
    opacity: 1;
}

.css-ucakx7 {
    width: 8px;
    height: 11px;
    margin-left: 8px;
    opacity: 0.8;
    transition: transform 100ms ease-in-out 0s;
    transform: rotate(90deg);
}

.css-178yklu {
    margin-top: 24px;
}

.css-llup9p {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
}

.css-15rtp2t {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.css-10lnhr9 {
    font-size: 18px;
    line-height: 22px;
    color: rgb(255, 255, 255);
}

.css-v3vkr2 {
    width: 16px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 50%;
    margin-left: 7px;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-top: 4px;
}

.css-u4p24i {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.css-bs5frm {
    margin-left: 15px;
}
.css-hgv1lv {
    height: 32px;
    line-height: 32px;
    display: inline-block;
    float: right;
    background-color: rgb(34, 34, 51);
    width: 200px;
    border-radius: 32px;
    border: transparent;
    text-align: left;
    color: white;
    position: absolute;
    right: 0px;
    z-index: 2;
    padding: 0px 15px;
    cursor: pointer;
    outline: none;
}

.css-hgv1lv img {
    transform: rotate(90deg);
    transition: transform 100ms ease-in-out 0s;
    float: right;
    padding: 10px 0px;
    height: 11px;
    width: 8px;
}
.css-bs5frm > button {
    color: rgb(255, 255, 255);
    position: static;
    float: none;
    width: 140px;
    padding-left: 20px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.16);
    letter-spacing: 0.64px;
    transition: background-color 100ms ease 0s;
}

.css-bs5frm > div {
    color: rgb(255, 255, 255);
    width: auto;
    max-height: 245px;
    border: 0px;
    background-color: rgba(51, 57, 61, 0.95);
    border-radius: 8px;
    margin-top: 2px;
}
.css-12cxek1 {
    position: absolute;
    display: flex;
    width: 200px;
    flex-flow: column wrap;
    background: rgb(8, 17, 24);
    transition: opacity 100ms ease-in-out 0s;
    opacity: 0;
    z-index: -10;
    pointer-events: none;
    border: 1px solid rgb(79, 85, 90);
    overflow: hidden;
}

.css-12cxek1 button {
    text-transform: none;
    text-align: left;
    line-height: 39px;
    opacity: 0.8;
    height: 40px;
    padding-left: 20px;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
}


.css-xxsaad {
    width: 85px;
    height: 33px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.16);
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.css-1t429ye {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 85px;
    border-radius: 18px;
    height: 33px;
}

.css-xxsaad p {
    color: rgb(255, 255, 255);
    opacity: unset;
    margin-left: 10px;
    margin-top: 7px;
}

.css-1ft7yfr {
    width: 32px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 9px;
}
.css-k162m5 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: -webkit-transform ease-in-out 100ms;
    -webkit-transition: transform ease-in-out 100ms;
    transition: transform ease-in-out 100ms;
    float: right;
    padding: 10px 0;
    height: 11px;
    width: 8px;
}

.css-1j9eqcs {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-r5iejs {
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid transparent;
    transition: background-color 80ms ease 0s, border-color 80ms ease 0s;
    border-radius: 4px;
    width: calc(50% - 8px);
    height: 48px;
    font-size: 15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 8px;
}

.css-r5iejs a, .css-r5iejs > div {
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0px 16px 0px 8px;
    height: 100%;
}
.css-jutdbu {
    width: 56px;
    height: 28px;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
}

.css-jutdbu img {
    position: relative;
    width: 100%;
}

.css-3g9tm3 {
    font-family: ProximaNova-Bold, Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 8px;
}

.css-i9gxme {
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.css-1lf207q {
    color: white;
    font-size: 14px;
    opacity: 0.5;
    letter-spacing: -0.06px;
}

.css-r5iejs {
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid transparent;
    transition: background-color 80ms ease 0s, border-color 80ms ease 0s;
    border-radius: 4px;
    width: calc(50% - 8px);
    height: 48px;
    font-size: 15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 8px;
}

.css-r5iejs a, .css-r5iejs > div {
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0px 16px 0px 8px;
    height: 100%;
}


.css-jutdbu {
    width: 56px;
    height: 28px;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
}

.css-jutdbu img {
    position: relative;
    width: 100%;
}
.css-jutdbu img::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 48px;
    height: 24px;
    background-image: linear-gradient(139deg, rgb(0, 225, 140), rgb(0, 228, 106));
    border-radius: 3px;
}

.css-1lf207q {
    color: white;
    font-size: 14px;
    opacity: 0.5;
    letter-spacing: -0.06px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

html body button, html body [role="button"] {
    outline: none;
}
.css-1shac6c {
    display: flex;
    height: 64px;
    border-radius: 4px;
    -webkit-box-align: center;
    align-items: center;
    background-image: linear-gradient(264deg, rgba(80, 255, 187, 0.32), rgba(200, 109, 215, 0.32));
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    cursor: pointer;
    text-decoration: none;
    max-width: 1024px;
    font-size: 24px;
}

.css-1viinqj {
    font-size: 16px;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
    left: 24px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-left: 24px;
    line-height: 1.31;
}

.css-19aerop {
    margin-top: 3%;
    height: calc(100% - 5px);
    object-fit: contain;
}
.css-fcldyn:last-of-type {
    height: 60%;
    display: none;
}

.css-fpvxo5 {
    border: none;
    outline: none;
    line-height: 1;
    font-family: ProximaNova-Bold, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 12px 20px 16px;
    min-width: 170px;
    border-radius: 60px;
    margin-left: 24px;
    position: absolute;
    right: 24px;
    opacity: 0;
    transition: all 500ms ease-in-out 0s;
    background-image: unset;
    background-position: unset;
    background-size: unset;
    background-repeat: unset;
    background-attachment: unset;
    background-origin: unset;
    background-clip: unset;
    background-color: rgb(59, 116, 99);
    color: white;
    height: 40px;
    width: 159px;
    cursor: pointer;
}

.css-zqsadh {
    margin-top: 5px;
    border-radius: 4px;
    opacity: 0.48;
    color: rgb(255, 255, 255);
}

.css-it4a1x {
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    display: inline;
    line-height: 16px;
    user-select: none;
    outline: none;
    border: none;
    background: transparent;
}

.css-1hl0orn {
    padding-right: 48px;
    text-decoration: none;
}

.css-1phbm4k {
    transition: color 100ms ease 0s;
    position: relative;
    outline: none;
    background: transparent;
    border: 0px;
    cursor: pointer;
    padding: 0px 0px 16px;
    white-space: nowrap;
    text-align: left;
    color: rgb(255, 255, 255);
}

.css-1phbm4k h2 {
    font-size: 24px;
    display: inline-block;
    pointer-events: none;
}

.css-1phbm4k::after {
    position: absolute;
    content: "";
    height: 7px;
    width: 100%;
    display: block;
    bottom: -1px;
    border-radius: 7px;
    background-color: rgb(0, 220, 137);
}



.css-1tf1m8i {
    transition: color 100ms ease 0s;
    position: relative;
    outline: none;
    background: transparent;
    border: 0px;
    cursor: pointer;
    padding: 0px 0px 16px;
    white-space: nowrap;
    text-align: left;
    color: rgb(157, 159, 161);
}

.css-1tf1m8i h2 {
    font-size: 24px;
    display: inline-block;
    pointer-events: none;
}

.css-1tf1m8i::after {
    position: absolute;
    content: "";
    height: 7px;
    width: 100%;
    display: block;
    bottom: -1px;
    border-radius: 7px;
    background-color: transparent;
}

.css-16b3rtm {
    padding-top: 40px;
}

.css-1v8x7dw {
    overflow: auto;
}

.css-1ompfkq {
    height: 42px;
    position: relative;
    width: 100%;
}

.css-1h153jv {
    margin-left: 64px;
    max-width: calc(100% - 64px);
    display: inline-block;
}

.css-14id8xq {
    padding-top: 3px;
    opacity: 0.8;
    -webkit-transition: opacity ease-in-out 100ms;
    transition: opacity ease-in-out 100ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.css-58mna7 {
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-1cbobt {
    position: absolute;
    top: 0px;
    right: 20px;
    opacity: 0.9;
}

.css-2g16f9 {
    outline: none;
    pointer-events: none;
    opacity: 0.4;
}

.css-16impox {
    outline: none;
}

.css-2g16f9 img:first-child {
    margin-right: 6px;
}


.css-2g16f9 img {
    display: inline-block;
    width: 18px;
    height: 25px;
    opacity: 0.8;
    cursor: pointer;
    padding: 0px 8px;
    transition: opacity 100ms ease-in-out 0s;
    backface-visibility: hidden;
    transform: rotate(180deg);
}

.css-9gv43x {
    overflow: hidden;
    white-space: nowrap;
}

.css-1mnyxfs {
    vertical-align: top;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    width: 110px;
    height: 187px;
    margin-right: 32px;
}

.css-1ay2lcn {
    position: relative;
    height: 110px;
}

.css-9vi7pw {
    width: 100%;
    text-align: center;
    color: rgb(214, 214, 214);
    font-size: 14px;
    margin-top: 16px;
    white-space: normal;
    word-break: break-word;
    max-height: 2em;
    overflow: hidden;
    transition: color 100ms ease 0s;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.css-1ckbead {
    width: 100%;
    text-align: center;
    font-size: 14px;
    white-space: normal;
    word-break: break-word;
    max-height: 2em;
    overflow: hidden;
    transition: color 100ms ease 0s;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: normal;
    color: rgb(126, 128, 129);
    margin-top: 5px;
}

.css-1v8x7dw {
    overflow: auto;
}

.css-1ompfkq {
    height: 42px;
    position: relative;
    width: 100%;
}


.css-1h153jv {
    margin-left: 64px;
    max-width: calc(100% - 64px);
    display: inline-block;
}

.css-14id8xq {
    padding-top: 3px;
    opacity: 0.8;
    -webkit-transition: opacity ease-in-out 100ms;
    transition: opacity ease-in-out 100ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.css-58mna7 {
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.css-9gv43x {
    overflow: hidden;
    white-space: nowrap;
}

.css-1weu643 {
    outline: none;
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    -webkit-scrollbar-width: none;
    -moz-scrollbar-width: none;
    -ms-scrollbar-width: none;
    scrollbar-width: none;
}
.css-w49wss {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: 64px;
    padding-right: 64px;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.css-1baulvz {
    display: inline-block;
}
.css-1szam6t {
    text-decoration: none;
}
.css-cl85ka {
    margin-right: 22px;
    height: 183px;
    width: 244px;
    display: block;
    position: relative;
    text-decoration: none;
    flex-shrink: 0;
    overflow: hidden;
    contain: strict;
}
.css-3czt2s {
    contain: strict;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 50, 57, 0.8);
    overflow: hidden;
    border-radius: 8px;
}
.css-b4kcmh {
    position: absolute;
    width: 100%;
    height: 100%;
}
.css-1szam6t > div:first-of-type > div:first-of-type {
    opacity: 0.86;
    transition: opacity 100ms ease 0s;
}
.css-aylr1d {
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.css-mb78q4 {
    font-family: ProximaNova-Bold, Arial, sans-serif;
    z-index: 0;
    padding: 11px 22px;
    color: white;
    font-size: 16px;
    background-color: rgba(8, 17, 24, 0.72);
    border-radius: 6px;
    text-align: center;
    box-sizing: border-box;
    max-width: 220px;
    line-height: 20px;
    white-space: normal;
}
.css-1if3pis {
    width: 244px;
    margin-bottom: 0px;
    margin-top: 12px;
    color: rgb(127, 130, 134);
    line-height: 20px;
    padding: 0px 8px 0px 4px;
    box-sizing: border-box;
    font-size: 14px;
    white-space: normal;
    display: table;
}
.css-x716iz {
    margin-bottom: 60px;
    display: block;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.css-1ompfkq {
    height: 42px;
    position: relative;
    width: 100%;
}
.css-1h153jv {
    margin-left: 64px;
    max-width: calc(100% - 64px);
    display: inline-block;
}
.css-14id8xq {
    padding-top: 3px;
    opacity: 0.8;
    -webkit-transition: opacity ease-in-out 100ms;
    transition: opacity ease-in-out 100ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.css-58mna7 {
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.css-1yxwhfi {
    padding-left: 64px;
}
.css-hcy8zk {
    display: inline-block;
    vertical-align: top;
    max-width: 520px;
    padding: 28px 32px 36px 24px;
    box-sizing: border-box;
    border-radius: 8px;
    background-image: linear-gradient(256deg, rgba(73, 71, 70, 0.7), rgba(53, 60, 64, 0.7));
    margin: 0px 32px 20px 0px;
}
.css-1xe88zt {
    height: 60px;
    margin-bottom: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.css-79elbk {
    position: relative;
}
.css-1e08k3 {
    position: absolute;
    bottom: -8px;
    left: 1px;
    width: calc(100% - 2px);
    z-index: -1;
}
.css-11evu2q {
    margin-left: 16px;
}

.css-1jab74s {
    font-family: ProximaNova-Bold, Arial, sans-serif;
    font-size: 22px;
    color: white;
    line-height: 24px;
}
.css-vqpx2m {
    display: inline-block;
    margin-left: 8px;
}
.css-vqpx2m img {
    min-width: 14px;
    width: 14px;
    height: 14px;
}
.css-e3hyub {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: opacity 100ms ease 0s;
    font-size: 14px;
    left: 0px;
    right: 0px;
    background-color: rgb(73, 71, 70);
    box-shadow: rgb(10, 16, 22) 2px 2px 10px;
    line-height: 20px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    border-radius: 4px;
}
.css-ug5j0d {
    margin: 0px 0px 16px 8px;
    display: flex;
}
.css-1wt93dq {
    min-width: 15px;
    width: 15px;
    height: 15px;
    margin: 6px 14px 0px 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.css-hcy8zk:last-child {
    margin-bottom: 0px;
}
.css-hcy8zk {
    display: inline-block;
    vertical-align: top;
    max-width: 520px;
    padding: 28px 32px 36px 24px;
    box-sizing: border-box;
    border-radius: 8px;
    background-image: linear-gradient(256deg, rgba(73, 71, 70, 0.7), rgba(53, 60, 64, 0.7));
    margin: 0px 32px 20px 0px;
}
.css-1xe88zt {
    height: 60px;
    margin-bottom: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.css-1e08k3 {
    position: absolute;
    bottom: -8px;
    left: 1px;
    width: calc(100% - 2px);
    z-index: -1;
}
.css-hcy8zk p {
    color: rgb(198, 198, 199);
    line-height: 24px;
    font-size: 16px;
}
.css-hcy8zk {
    display: inline-block;
    vertical-align: top;
    max-width: 520px;
    padding: 28px 32px 36px 24px;
    box-sizing: border-box;
    border-radius: 8px;
    background-image: linear-gradient(256deg, rgba(73, 71, 70, 0.7), rgba(53, 60, 64, 0.7));
    margin: 0px 32px 20px 0px;
}
.css-1xe88zt {
    height: 60px;
    margin-bottom: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.css-79elbk {
    position: relative;
}

.css-1e08k3 {
    position: absolute;
    bottom: -8px;
    left: 1px;
    width: calc(100% - 2px);
    z-index: -1;
}
.css-11evu2q {
    margin-left: 16px;
}
.css-1jab74s {
    font-family: ProximaNova-Bold, Arial, sans-serif;
    font-size: 22px;
    color: white;
    line-height: 24px;
}
.css-vqpx2m {
    display: inline-block;
    margin-left: 8px;
}
.css-vqpx2m img {
    min-width: 14px;
    width: 14px;
    height: 14px;
}

.css-e3hyub {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: opacity 100ms ease 0s;
    font-size: 14px;
    left: 0px;
    right: 0px;
    background-color: rgb(73, 71, 70);
    box-shadow: rgb(10, 16, 22) 2px 2px 10px;
    line-height: 20px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    border-radius: 4px;
}

.css-xalpfk {
    font-size: 14px;
    color: rgb(140, 141, 143);
    margin-bottom: -26px;
    line-height: 24px;
}
.css-h99b1c {
    margin: 0px 0px 16px 8px;
}
.css-hcy8zk p {
    color: rgb(198, 198, 199);
    line-height: 24px;
    font-size: 16px;
}
.css-gmrdpc {
    font-family: ProximaNova-Bold, Arial, sans-serif;
    border: 0px;
    background: transparent;
    outline: none;
    letter-spacing: 0.8px;
    font-size: 10px;
    color: white;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    float: right;
    opacity: 0.72;
    cursor: pointer;
    margin-bottom: -14px;
}
.css-gmrdpc img {
    height: 8px;
    width: 12px;
    transition: transform 120ms ease 0s;
    margin-left: 8px;
}
.css-1v8x7dw {
    overflow: auto;
}
.css-cqe1gu {
    height: 42px;
    position: relative;
    width: 100%;
}

.css-1cfuywu {
    transition: background 100ms ease 0s, opacity 100ms ease 0s;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1;
    background: rgba(255, 255, 255, 0.16);
    color: rgb(255, 255, 255);
    margin: 0px 0px 15px;
    white-space: nowrap;
    width: 100px;
    padding: 8px 24px;
    border-radius: 16px 0px 0px 16px;
    font-size: 16px;
}
.css-1kgpusg {
    transition: background 100ms ease 0s, opacity 100ms ease 0s;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1;
    background: rgba(255, 255, 255, 0.16);
    color: rgb(255, 255, 255);
    margin: 0px 0px 15px 3px;
    white-space: nowrap;
    border-radius: 0px;
    width: 95px;
    padding: 8px 20px;
    font-size: 16px;
}

.css-1kgpusg img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}
.css-1kgpusg img, .css-1kgpusg amp-img {
    height: 11px;
    margin-right: 8px;
    position: relative;
    top: 1px;
    display: inline-block;
}

.css-1kgpusg span {
    vertical-align: top;
}

.css-j17oy2 {
    transition: background 100ms ease 0s, opacity 100ms ease 0s;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1;
    background: rgba(255, 255, 255, 0.16);
    color: rgb(255, 255, 255);
    margin: 0px 16px 15px 3px;
    white-space: nowrap;
    width: 100px;
    border-radius: 0px 16px 16px 0px;
    padding: 8px 10px;
    font-size: 16px;
}

.css-j17oy2 img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}
.css-j17oy2 span {
    vertical-align: top;
}
.css-1evt9it {
    position: relative;
    margin: 8px 0px 20px;
    display: inline-block;
}
.css-1a5pxnv {
    position: absolute;
    top: -7px;
    right: -7px;
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    z-index: 1;
}
.css-1a5pxnv img {
    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 26px;
}
.css-bvue44 {
    overflow: hidden;
    position: relative;
    padding: 15px;
    width: auto;
    border-radius: 8px;
    color: rgb(8, 17, 24);
    cursor: pointer;
}
.css-j17oy2 img, .css-j17oy2 amp-img {
    height: 11px;
    margin-right: 8px;
    position: relative;
    top: 1px;
    display: inline-block;
}

.css-bvue44::before {
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
    margin: -17px;
    padding: inherit;
    border-radius: 38%;
    box-shadow: rgba(255, 255, 255, 0.72) 0px 0px 0px 500px;
    content: "";
}
.css-58mna7 {
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-1cbobt {
    position: absolute;
    top: 0px;
    right: 20px;
    opacity: 0.9;
}

.css-2g16f9 {
    outline: none;
    pointer-events: none;
    opacity: 0.4;
}

.css-2g16f9 img:first-child {
    margin-right: 6px;
}
.css-2g16f9 img {
    display: inline-block;
    width: 18px;
    height: 25px;
    opacity: 0.8;
    cursor: pointer;
    padding: 0px 8px;
    transition: opacity 100ms ease-in-out 0s;
    backface-visibility: hidden;
    transform: rotate(180deg);
}
.css-9gv43x {
    overflow: hidden;
    white-space: nowrap;
}
.css-1mnyxfs {
    vertical-align: top;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    width: 110px;
    height: 187px;
    margin-right: 32px;
}


.css-vpnk9b {
    contain: strict;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2b3239cc;
    overflow: hidden;
    position: relative;
    height: 110px;
}

.css-1ay2lcn img, .css-1ay2lcn > div {
    border-radius: 100%;
}
.css-b4kcmh {
    position: absolute;
    width: 100%;
    height: 100%;
}
.css-3czt2s {
    contain: strict;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2b3239cc;
    overflow: hidden;
    border-radius: 8px;
}
.css-1sz776d {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 350ms;
    transition-duration: 350ms;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.css-1sz776d {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 350ms;
    transition-duration: 350ms;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.css-3czt2s img {
    object-fit: cover;
}
.css-7rmenp {
    margin-right: 22px;
    height: 183px;
    width: 244px;
    margin-bottom: 0;
    display: block;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    contain: strict;
}


@media screen and (min-width: 1025px){
	.css-tw53s2 {
	    padding: 0px 20px 0px 64px;
	}
	.css-kin6tl {
	    width: 200px;
	    min-width: 200px;
	}
	.css-kin6tl {
	    height: 300px;
	}
	.css-tf11vt {
    margin-bottom: 18px;
}
.css-1ompfkq {
    height: 42px;
}

.css-1h153jv {
    margin-left: 64px;
    max-width: calc(100% - 64px);
}

.css-14id8xq {
    padding-top: 3px;
}

.css-1mnyxfs {
    width: 110px;
}

.css-1mnyxfs {
    height: 187px;
}

.css-1mnyxfs {
    margin-right: 32px;
}

.css-1ay2lcn {
    height: 110px;
}

.css-1ompfkq {
    height: 42px;
}

.css-1h153jv {
    margin-left: 64px;
    max-width: calc(100% - 64px);
}
.css-14id8xq {
    padding-top: 3px;
}
.css-w49wss {
    left: 64px;
    padding-right: 64px;
}
.css-cl85ka {
    margin-right: 22px;
}
.css-cl85ka {
    height: 183px;
}
.css-cl85ka {
    width: 244px;
}
.css-1if3pis {
    width: 244px;
}
.css-1ompfkq {
    height: 42px;
}
.css-1h153jv {
    margin-left: 64px;
    max-width: calc(100% - 64px);
}
.css-14id8xq {
    padding-top: 3px;
}
.css-1yxwhfi {
    padding-left: 64px;
}
.css-cqe1gu {
    height: 42px;
}
.css-1h153jv {
    margin-left: 64px;
    max-width: calc(100% - 64px);
}



}

@media screen and (max-width: 1025px){
.css-sfymjb {
    padding-left: 4vw;
}
.css-tw53s2 {
    padding: 0px 20px 0px 4vw;
}
.css-tw53s2 {
    min-height: 0px;
}
.css-kin6tl {
    height: 240px;
}
.css-kin6tl {
    width: 160px;
    min-width: 160px;
}
.css-1jw3688 {
    margin-left: 48px;
}
}


@media screen and (max-width: 768px){
.css-sfymjb {
    padding-left: 40px;
}
.css-tw53s2 {
    padding: 0px 20px 0px 40px;
}
.css-tw53s2 {
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.css-1jw3688 {
    margin: 32px 0px 0px;
    text-align: center;
    width: auto;
}
.css-1jw3688 {
    margin: 32px 0px 0px;
    text-align: center;
    width: auto;
}
.css-j3mou7 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 0px;
}
.css-1etyymi {
    padding: 10px 0px;
    font-size: 15px;
    width: 100%;
}
.css-pd7q5p {
    width: 48%;
    max-width: none;
    top: 46px;
    box-sizing: border-box;
    padding: 16px;
    left: 0px;
}
.css-1in9gj1 {
    position: inherit;
    display: flex;
    width: 100%;
}
.css-1cfuywu {
    padding: 10px 0px;
    font-size: 15px;
    width: 100%;
}
.css-1kgpusg {
    padding: 10px 0px;
    font-size: 15px;
    width: 100%;
}
.css-j17oy2 {
    padding: 10px 0px;
    font-size: 15px;
    width: 100%;
}
}

@media screen and (max-width: 420){

.css-sfymjb {
    padding-left: 18px;
}
.css-sfymjb {
    margin-bottom: 26px;
}
.css-tw53s2 {
    padding: 0px 20px 0px 18px;
}

.css-tw53s2 {
    padding: 0px;
}
.css-kin6tl {
    height: 250px;
}
.css-kin6tl {
    width: 167px;
    min-width: 167px;
}
.css-1jw3688 {
    width: 92vw;
    margin-top: 26px;
}
.css-1etyymi {
    margin-right: 0px;
}
.css-1in9gj1 {
    width: 100%;
    display: inherit;
}
.css-1cfuywu {
    margin-right: 0px;
}
.css-1cfuywu span {
    vertical-align: text-top;
}
.css-1kgpusg {
    margin-right: 0px;
}
.css-1kgpusg span {
    vertical-align: text-top;
}
.css-j17oy2 {
    margin-right: 0px;
}
.css-j17oy2 span {
    vertical-align: text-top;
}
.css-1fwg2l8 {
    padding: 10px;
}
.css-1fwg2l8::before {
    margin: -7px;
    border-radius: 57%;
}
.css-185c34z {
    font-size: 15px;
}
.css-oilf53 {
    height: 150px;
    margin-top: 10px;
}
.css-oilf53 > a {
    margin-right: 8px;
}
.css-a0zxji {
    width: 100px;
    height: 150px;
}
.css-oilf53 > a:nth-of-type(3) {
    margin-right: 0px;
}
.css-oilf53 > a:last-child {
    display: none;
}
.css-oilf53 > a:last-child {
    margin-right: 0px;
}


}

